[2016-04-18 13:40] camjackson commented on #13
Is this still a thing? Or should it be 'replace sequelize with eventstore'?

[2016-04-18 14:11] pameck commented on #18
- [ ] Add a global file to avoid repetitive requires in specs (add it to the task definition)
- [ ] rename all temp things
- [ ] remove jasmine.json (the frontend does not need it)
- [ ] create helper for cleaning up the db
- [ ] change mocha reporter
- [ ] the new test task takes ages to run (the compiler maybe?)

[2016-04-20 08:28] pameck opened #1 "Separate front-end and back-end code more clearly"
I.e. push stuff that's specific to FE/BE down into those directories. Also give each one its own package.json. Will make it easier to split repos entirely if that's what we want to do.

[2016-04-20 09:57] camjackson opened #2 "Make admin emails case insensitive"
_From @pameck on March 31, 2016 10:9_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#1_

[2016-04-20 09:57] camjackson commented on #1
This issue was moved to rabblerouser/rabblerouser-core#2

[2016-04-20 11:10] camjackson opened #3 "suspend/unsuspend branches"
_From @pameck on March 31, 2016 10:30_

At the moment, a branch can be deleted, and it's soft deleted, but there is no way to restore it through the API or UI.

_Copied from original issue: rabblerouser/rabblerouser-core-fork#2_

[2016-04-20 11:10] camjackson commented on #2
This issue was moved to rabblerouser/rabblerouser-core#3

[2016-04-20 11:10] camjackson opened #4 "Prevent admins from removing themselves"
_From @pameck on March 31, 2016 10:32_

Admins can lock themselves out, we need to either prevent this or warn them loudly.

_Copied from original issue: rabblerouser/rabblerouser-core-fork#3_

[2016-04-20 11:10] camjackson commented on #3
This issue was moved to rabblerouser/rabblerouser-core#4

[2016-04-20 11:10] camjackson opened #5 "Allow admins to remove members"
_From @pameck on March 31, 2016 10:35_

At the moment participants can be created and edited but not removed.

_Copied from original issue: rabblerouser/rabblerouser-core-fork#4_

[2016-04-20 11:10] camjackson commented on #4
This issue was moved to rabblerouser/rabblerouser-core#5

[2016-04-20 11:10] camjackson opened #6 "Branch admins should get a notification when a new participant joins"
_From @pameck on March 31, 2016 10:36_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#5_

[2016-04-20 11:10] camjackson commented on #5
This issue was moved to rabblerouser/rabblerouser-core#6

[2016-04-20 11:11] camjackson opened #7 "Members should received a confirmation email after joining a branch"
When a member signs up, they should receive and email confirming their new membership.

Ideally from and return address, subject and email body should be configurable.

_From @pameck on March 31, 2016 10:37_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#6_

[2016-04-20 11:11] camjackson commented on #6
This issue was moved to rabblerouser/rabblerouser-core#7

[2016-04-20 11:11] camjackson opened #8 "As a branch admin, I want to send an email to group members in my branch, so that I can mobilise them"
- [ ] If a member replies, their reply is sent back to the organisation, and not to all the other members
- [ ] If a member is in multiple of the groups I select, they should only receive the email once

Potential implementation:
- Each group has a magical email address associated with it (e.g. core-members@myrabblerouserinstance.com)
- Send an email to that address
- That email gets forwarded to

[2016-04-20 11:11] camjackson commented on #7
This issue was moved to rabblerouser/rabblerouser-core#8

[2016-04-20 11:11] camjackson opened #9 "Live reload doesn't work when code-watching"
_From @pameck on March 31, 2016 10:39_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#8_

[2016-04-20 11:11] camjackson commented on #8
This issue was moved to rabblerouser/rabblerouser-core#9

[2016-04-20 11:11] camjackson opened #10 "Move component tests out of src"
_From @pameck on March 31, 2016 10:40_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#9_

[2016-04-20 11:11] camjackson commented on #9
This issue was moved to rabblerouser/rabblerouser-core#10

[2016-04-20 11:11] camjackson opened #11 "Add end-to-end tests"
_From @pameck on March 31, 2016 10:41_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#10_

[2016-04-20 11:11] camjackson commented on #10
This issue was moved to rabblerouser/rabblerouser-core#11

[2016-04-20 11:11] camjackson opened #12 "Make it more obvious that the groups dropdown is for filtering participants"
_From @pameck on March 31, 2016 10:43_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#11_

[2016-04-20 11:11] camjackson commented on #11
This issue was moved to rabblerouser/rabblerouser-core#12

[2016-04-20 11:11] camjackson opened #13 "Introduce redux for a cleaner frontend"
_From @pameck on March 31, 2016 11:1_
- [x] Redux boilerplate on signup app
- [x] Redux boilerplate on admin app
- [x] Redux boilerplate on super admin app
- [x] Redux + saga on branches view
- [x] Redux + saga on groups view
- [x] Redux + saga on members view
- [x] Redux + saga on admins view

_Copied from original issue: rabblerouser/rabblerouser-core-fork#12_

[2016-04-20 11:11] camjackson commented on #12
This issue was moved to rabblerouser/rabblerouser-core#13

[2016-04-20 11:11] camjackson opened #14 "Replace sequelize with mongoose"
_From @camjackson on April 4, 2016 11:31_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#13_

[2016-04-20 11:11] camjackson commented on #14
Is this still a thing? Or should it be 'replace sequelize with eventstore'?

[2016-04-20 11:11] camjackson commented on #13
This issue was moved to rabblerouser/rabblerouser-core#14

[2016-04-20 11:11] camjackson opened #15 "Deploy Rabble Rouser to AWS"
Probably on AWS. Has to be secure, and automated.

_From @akjones on April 11, 2016 8:19_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#14_

[2016-04-20 11:11] camjackson commented on #14
This issue was moved to rabblerouser/rabblerouser-core#15

[2016-04-20 11:12] camjackson opened #16 "s/lab-assistant/rabble-rouser"
_From @akjones on April 11, 2016 9:19_
- [x] Replace mentions of "labs" with "branches"
- [x] Replace mentions of "participants" with "members"
- [x] `labSelection` => `branchSelection` (field names, variables, CSS id selector)
- [x] Rename variables etc in `strings.js`

_Copied from original issue: rabblerouser/rabblerouser-core-fork#15_

[2016-04-20 11:12] camjackson commented on #15
This issue was moved to rabblerouser/rabblerouser-core#16

[2016-04-20 11:12] camjackson opened #17 "Bump version of babel-eslint and add eslint as an explicit dependency"
_From @camjackson on April 12, 2016 10:52_

Opening a pull request for this because I haven't shrink-wrapped before.

Is it normal for such a small package.json change to cause such an insanely huge change to the shrinkwrap file?

All I did was edit the babel-eslint version manually, and then something like

[code]

_Copied from original issue: rabblerouser/rabblerouser-core-fork/pull/16_

[2016-04-20 11:12] camjackson opened #18 "Add eslint"
_From @camjackson on April 18, 2016 10:33_

Going to use the airbnb config for now.

_Copied from original issue: rabblerouser/rabblerouser-core-fork#17_

[2016-04-20 11:12] camjackson commented on #17
This issue was moved to rabblerouser/rabblerouser-core#18

[2016-04-20 11:12] camjackson opened #19 "Replace Jasmine for mocha/chai/sinon (backend for now)"
_From @pameck on April 18, 2016 13:22_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#18_

[2016-04-20 11:12] camjackson commented on #19
_From @pameck on April 18, 2016 14:11_
- [x] Add a global file to avoid repetitive requires in specs (add it to the task definition)
- [x] rename all temp things
- [x] remove jasmine.json (the frontend does not need it)
- [x] create helper for cleaning up the db
- [x] change mocha reporter
- [ ] the new test task takes ages to run (the compiler maybe?)

[2016-04-20 11:12] camjackson commented on #18
This issue was moved to rabblerouser/rabblerouser-core#19

[2016-04-20 11:12] camjackson opened #20 "Make all the front-end code pass eslint"
_From @camjackson on April 18, 2016 13:40_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#19_

[2016-04-20 11:12] camjackson commented on #19
This issue was moved to rabblerouser/rabblerouser-core#20

[2016-04-20 11:13] camjackson opened #21 "Make all the back-end code pass eslint"
_From @camjackson on April 18, 2016 13:40_

_Copied from original issue: rabblerouser/rabblerouser-core-fork#20_

[2016-04-20 11:13] camjackson commented on #20
This issue was moved to rabblerouser/rabblerouser-core#21

[2016-04-20 11:13] camjackson opened #22 "Separate front-end and back-end code more clearly"
_From @camjackson on April 18, 2016 13:42_

I.e. push stuff that's specific to FE/BE down into those directories. Also give each one its own package.json. Will make it easier to split repos entirely if that's what we want to do.
- [x] Push FE configs downwards (karma, webpack, etc)
- [x] New package.json for FE
- [x] New package.json for BE
- [x] Cleanup package.json at top level
- [x] Shrinkwraps

[2016-04-20 11:13] camjackson commented on #21
This issue was moved to rabblerouser/rabblerouser-core#22

[2016-04-20 11:13] camjackson opened #23 "Extract address setup from memberService into its own service"
_From @pameck on April 20, 2016 0:3_

MemberService is taking care of CRUDing Addresses, that's giving createMember/ editMember too much responsibility, and it is also making the tests more complicated than they should.

_Copied from original issue: rabblerouser/rabblerouser-core-fork#22_

[2016-04-20 11:13] camjackson commented on #22
This issue was moved to rabblerouser/rabblerouser-core#23

[2016-04-20 11:15] camjackson commented on #1
Dupe of #22

[2016-04-20 11:15] #1 closed, assigned to nobody

[2016-04-20 12:39] camjackson opened #24 "Replace skin-deep with enzyme for react component testing"
My preference would be enzyme, but I'm happy to discuss it if folks like skin-deep

[2016-04-20 13:04] yearofthedan commented on #24
Skin deep was an arbitrary decision based upon limited searching. I'm happy
to go with enzyme.

On Wed, 20 Apr 2016 22:39 Cam Jackson notifications@github.com wrote:

[2016-04-22 03:41] akjones commented on #23
We've got all the issues, all the codez, and the pipeline is up and running. Should be good to go.

[2016-04-22 13:26] camjackson opened #25 "Replace remaining uses of underscore.js with lodash"
Lodash is _almost_ a superset of underscore.js. So we should be able to just replace all references to underscore with equivalent uses of lodash. But whoever picks this up should double check that nothing breaks as we swap one out for the other.
- [x] Replace frontend uses of underscore.js with equivalent lodash
- [x] Remove underscore.js dependency from `frontend/package.json`
- [x] Remove unders

[2016-04-22 22:00] akjones commented on #25
+1 lodash

[2016-04-23 02:33] rdoh commented on #25
+2

[2016-04-23 06:23] #18 closed, assigned to nobody

[2016-04-24 00:01] camjackson opened #26 "Remove eslint exceptions for no-param-reassign"
There are currently 3 places where we have exceptions to the [no-param-reassign](http://eslint.org/docs/rules/no-param-reassign) rule (i.e. param mutation).
- [ ] [`sortColumn.js`](https://github.com/rabblerouser/rabblerouser-core/blob/master/src/frontend/lib/sortColumn.js) - Mutates several properties on params.
- [ ] [`ParticipantsList.jsx`](https://github.com/rabblerouser/rabblerouser-core/blob

[2016-04-24 00:38] camjackson opened #27 "Upgrade to node5 / npm3"

[2016-04-24 12:08] camjackson opened #28 "Pick a license"

[2016-04-28 09:33] camjackson commented on #22
@danmutton Are you doing the last item here as part of #11?

[2016-05-02 10:02] #20 closed, assigned to nobody

[2016-05-02 11:36] pameck commented on #25
+1000

[2016-05-02 11:37] pameck commented on #25
So, Lodash? Do we close it? Or leave it open until we remove underscore from wherever it is?

[2016-05-02 12:02] camjackson commented on #25
Let's repurpose this issue - it's a good beginner one.

[2016-05-02 12:58] camjackson commented on #25
@phazel If you want a beginner issue, this might be a good way to get your hands on some code? I'd be happy to help you get started.

[2016-05-12 13:27] akjones opened #29 "I can replace the generic logo with my organisation's logo"

[2016-05-12 13:28] akjones opened #30 "Strip the membership sign up form back to basics"
- [x] Remove school question
- [x] Remove lab to join question
- [x] Keep one of participant name OR contact name - no need for both
- [x] Change year of birth to date of birth

[2016-05-12 13:28] akjones opened #31 "As an admin, I want to customise the signup form, so that it matches my existing branding and messaging."
We already support customisation in the signup app, but it's all done through environment variables. There are two problems with this:

1. It's not very friendly to non-technical people
2. That configuration gets baked into the compiled javascript bundle, which is turn is baked into our docker image artifact.

The second point is the bigger problem right now, because it means that as we move to do

[2016-05-12 13:36] akjones commented on #28
apache 2.0 is ok. anyone have strong feelings about? gpl v3 is the strongest, often too strong, apache 2.0 is often considered the next best.

[2016-05-12 13:41] akjones opened #32 "i can customise the app so that my organisation's name appears instead of the generic name"
As a Rabble Rouser administrator, when I add a key with name "organisation_name" and value "Awesome Org" to the config file, and I reload the app, then I should see references to "Awesome Org" instead of Rabble Rouser (or the Lab, or any other organisation).

This will enable us to whitelabel the site, and deploy it for any organisation.

[2016-05-12 13:48] akjones opened #33 "Receive a slack invite upon successful sign up"

[2016-05-13 06:13] akjones opened #34 "event management"
ideas:
- create a new event
- anyone can sign up for an event (and become a member in the process) -- no login
- Slack invite on sign up
- invite others to the event
- sign in system for the event so we can track attendance

[2016-05-13 06:15] akjones opened #35 "mails"
ideas:
- send email to all members
- send email to member segments
- metrics
- split tests (a/b or multivariate) on subjects or content

can we leverage https://mailtrain.org/?

[2016-05-13 06:46] akjones opened #36 "choose an event store & implement in the vagrant dev setup so we can start using it"
Current contenders:
- https://geteventstore.com - open source, custom event sourcing solution, relatively easy operational concerns
- AWS DynamoDB - proprietary, but much less management overhead than anything we'd run ourselves, especially when scaling, would have to be coerced into being an event store
- https://couchdb.apache.org/ - has been around a long time, can be coerced in a similar way t

[2016-05-16 10:52] yearofthedan opened #37 "End to end tests need set-up and tear-down"
Currently end to end tests rely on preexisting data. This leads to false results if the data is modified / deleted before the tests are run.

[2016-05-16 11:27] #14 closed, assigned to nobody

[2016-05-16 12:17] akjones commented on #28
Affero GPL: https://www.gnu.org/licenses/why-affero-gpl.en.html

[2016-05-16 12:21] camjackson commented on #28
Interesting. That seems like a good choice, assuming we want to go with a copyleft license. To me, the biggest question would be:

Do we want to try to require that modifications or enhancements to RR should be open sourced? Or are we OK with people incorporating it into proprietary software? Once we know that, we can look at MIT vs. Apache, or GPL vs. Affero.

[2016-05-18 09:38] yearofthedan commented on #37
A solution is in place, but has the e2e calling some scripts in the backend. There's too much coupling here, but it'll do for now.

[2016-05-18 09:39] #37 closed, assigned to yearofthedan

[2016-05-18 09:41] yearofthedan opened #38 "End to end tests need to be automated in the pipeline"

[2016-05-19 10:38] camjackson commented on #21
Reminder: Once the backend code all passes the linter, the `ci` task in `backend/package.json` should have the linter task added to it, rather than just running the tests.

[2016-05-20 03:08] camjackson opened #39 "Better handling of unauthorised requests"
Originally, unauthorised requests would return HTTP 200, and render the login page. As part of #22, this was [changed](https://github.com/rabblerouser/rabblerouser-core/commit/43cc71cc731f4ccc49fe55f88ca8f820caaca80b#diff-0b3697da2a5f8151e1d8baa5989f62d1R13) to be a 302, redirecting to the login page.

When the request is a document GET, or a form POST, the browser handles the redirect correctly,

[2016-05-22 06:14] #22 closed, assigned to nobody

[2016-05-22 06:49] camjackson commented on #16
@akjones Not sure what the scope of this card should be.

Firstly, is this only user-facing strings, or should this also include renaming variables, functions, tables, etc.

Secondly, does the existing model of membership still work, and if so, what are the right terms? Does a Lab become a branch?

[2016-05-22 07:07] akjones commented on #16
this was meant to be an internal rename, ensuring vars & functions and stuff are all updated. user facing stuff can be done here, or they can be picked up in one of the config cards.

internally, labs were always called branches (at model level anyways), so we shouldn't need to update much there (it anything). the structure of the membership (members are in branches and groups, and groups are in b

[2016-05-22 09:32] camjackson commented on #16
Yeah I think that makes sense. There's definitely a lot of frontend code like `labValidator`, `getLabGroups`,  `getLabParticipants`, etc.

[2016-05-22 10:34] camjackson commented on #16
I've started work on this. The backend is all done, except for `config/db.json`, because I figured that will break people's dev environments, and it would also need to be updated in the ops code. And I didn't really want to go delving into the ops stuff just yet.

[2016-05-22 10:38] camjackson opened #40 "Make the log levels for the backend configurable (so the tests are not chatty)"
Unit tests that print to the console is a pet peeve :P

[2016-05-24 12:14] camjackson opened #41 "Fix moment.js warnings"
We get a lot of these:

[code]

For the most part it can probably be fixed by changing `moment(blah)` to `moment(new Date(blah))`. But whoever picks this up should make sure that that's actually the correct behaviour, and we're not blindly constructing dates from random strings, relying on browser-specific implementations of `Date`, etc.

[2016-05-30 12:08] camjackson opened #42 "Add automated smoke test to verify deploys"
As a developer,
I want automatic verification of code that I deploy,
So that I can know when I break things without having to check manually.

We already have tests in the E2E directory, which verify that the app works by clicking through the GUI and making sure stuff happens. We would usually point those at localhost either on our dev machines before pushing code, or in the pipeline before deploy

[2016-05-30 12:11] camjackson opened #43 "Compile SASS using webpack, and remove SASS things from the backend"
- [x] Sass compilation in FE code
- [x] Move stylesheets out of frontend/public, and other cleanup
- [x] Remove sass stuff from backend

[2016-06-03 16:22] elimydlarz commented on #21
So, it doesn't _all_ pass because of things like 'use strict' (which somebody suggested we still need), line length violations caused by template literals and functions that write to their params. Otherwise we're all done. I'm not sure if addressing those issues should be part of this card or not - thoughts?

[2016-06-04 10:43] yearofthedan opened #44 "Member / participant list doesn't update"
When a member is edited and saved, the table doesn't update to reflect the change.
Reloading the page will update the data.

[2016-06-04 12:08] #11 closed, assigned to yearofthedan

[2016-06-05 23:05] camjackson commented on #21
Summarising the slack conversation here for posterity: We'll add some exceptions for now to get the linter passing ASAP, and document the remaining things we want to do. Some of them may go in #26, others might be a new issue.

[2016-06-06 09:07] elimydlarz commented on #26
There are many more cases of this on the backend. I'll tell eslint to ignore them for now, but whoever picks this up might want to fix them too =)

[2016-06-06 09:36] elimydlarz commented on #21
It's only just now occurred to me that I have no included the specs in my lint pass. How do people feel about doing that? Personally I'd like to skip it _for now_.

[2016-06-06 09:44] elimydlarz opened #45 "Refactor backend logger to pass linting legitimately"
It's very hard to understand what's going on with the [backend logger](https://github.com/rabblerouser/rabblerouser-core/blob/master/backend/src/lib/logger.js). I've tried to make it as readable as possible, but somebody who understands it should figure out if it can be refactored to make the linter happy while still being readable.

[2016-06-06 09:47] elimydlarz opened #46 "Stop using "use strict" for each backend file"
Currently being ignored by eslint. One option is to use ES6 imports.

[2016-06-07 08:59] yearofthedan opened #47 "Replace reactabular with custom component"

[2016-06-12 08:48] #47 closed, assigned to yearofthedan

[2016-06-12 13:05] #24 closed, assigned to yearofthedan

[2016-06-13 03:32] #44 closed, assigned to yearofthedan

[2016-06-14 13:07] camjackson opened #48 "Fix flaky heroku deployments"
A little while ago I changed the root package.json so that building and copying the frontend assets is a `prestart` rather than a `postinstall:frontend`. https://github.com/rabblerouser/rabblerouser-core/commit/9df3f9e4fc97faaaf0b965d0cf7560becb6c5909#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R11

This makes it so that the backend always has the most up-to-date frontend assets when doing `npm start` fr

[2016-06-18 01:18] yearofthedan opened #49 "Remove seed migrations from the backend"
Database seeding shouldn't be a part of the migrations. Where needed, these should be moved into a separate script.

[2016-06-18 01:29] akjones opened #50 "Setup the event sourcing machinery"

[2016-06-18 01:53] akjones opened #51 "evaluate victorykit for possible adoption into rabble rouser"

[2016-06-18 02:31] elimydlarz commented on #50
Is this different to #36?

[2016-06-18 03:11] yearofthedan opened #52 "Determine RabbleRouser base style"

[2016-06-18 03:13] #50 closed, assigned to akjones

[2016-06-18 03:25] camjackson opened #53 "Fix the backend eslint config"
I've removed eslint from the backend build for now.

There's a weird error where this line in the backend eslint config:

[code]

ends up resolving to itself and recursing forever. I'm pretty sure it's something to do with eslint's super confusing rules for resolving relative file paths: http://eslint.org/docs/user-guide/configuring#using-a-configuration-file

[2016-06-18 03:40] #43 closed, assigned to nobody

[2016-06-18 03:57] tomsulston opened #54 "Make up a website and email address."

[2016-06-18 06:14] kalsop commented on #30
- Remove school question
- Remove lab to join question
- Keep one of participant name OR contact name - no need for both
- Change year of birth to date of birth
- "Register for" + name of org

[2016-06-18 06:15] pameck commented on #48
The problem was that building the app in "prestart" made Heroku timed out and therefore broke the build. I moved "npm run build" to "postinstall", which also makes it easier for people who are setting up the project for the first time.

[2016-06-18 06:19] #48 closed, assigned to pameck

[2016-06-18 06:23] pameck commented on #40
Unit tests are not printing to the console, they're using the logger, it is a matter to adjusting the log level.

I'm renaming this issue to make the log levels configurable.

[2016-06-18 07:49] camjackson commented on #53
Possible cause: https://github.com/eslint/eslint/issues/6450

This would explain why it started breaking when it was working before.

[2016-06-18 07:50] elimydlarz commented on #36
I played with EventStore quite a bit (we were hoping to go all eventy for something and were stranded on the beach trying things out) and was very impressed. I'm keen to try it out for integrating LTTE and RR core, though I don't know enough about either to know exactly what needs integrating.

[2016-06-18 07:59] camjackson commented on #36
Good to know @elimydlarz. The first step for integrating would probably be to get it working in our dev setup (which is what I think this card is about?). @akjones mentioned that he'd been able to get it running in a docker container today.

[2016-06-18 08:20] camjackson commented on #16
I'm going to call this done for now. All of the app code is done AFAICT.

There's some stuff in the provisioning and db config files that still refers to the lab, but that's a bit trickier because it might break people's environments. There's probably a bunch of breaking changes coming soon anyway when we bring in EventStore and Docker and Kubernetes, so I'd be inclined to clean the last of it up

[2016-06-18 08:52] camjackson opened #55 "Remove the final references to the lab"
There are a few things left over from #16 in the provisioning code, and in the db config variables. These can probably be cleaned out when we start bringing in whacky things like Docker, Kubernetes, and EventStore.

[2016-06-18 09:14] #38 closed, assigned to yearofthedan

[2016-06-18 11:29] camjackson commented on #30
Should this card be limited to just the signup form? For every field that's removed from the signup form, there's also the server side code, the DB model, and then of course in the admin UI there's all the forms for editing those fields.

Feels weird to take out the school field (for example) form the signup, but leave it there on the admin side. I think I'll probably take it out of everywhere.

[2016-06-18 11:36] yearofthedan commented on #30
Good point my only concern is that it's a pretty big story. Could split them into separate stories for each field.

[2016-06-18 11:42] camjackson commented on #30
Good idea. I'm still figuring out how big it is. If it's getting out of hand, I'll split it.

[2016-06-18 11:45] camjackson commented on #30
Does anyone know: Is there a reason we ask for first and last name? As opposed to just name?

[2016-06-18 11:59] yearofthedan commented on #30
I think it was a requirement on one or both implementations, but I recall we had discussions about it being biased and limiting. Can we leave it up to front-ends to decide how to represent names and store it as one field?

[2016-06-18 12:12] camjackson commented on #30
I guess. For this particular frontend that I'm looking at right now, I'd be inclined to do a single field (and then store it like that).

One good reason that I can think of for splitting it is so you can address emails to people by their first name. But for that purpose I'd be more inclined to ask for full name and preferred name.

I'm also a little unclear on removing the branch (formerly lab) s

[2016-06-18 15:31] elimydlarz commented on #19
Only one assignee, but... I'm helping.

[2016-06-19 10:17] phazel opened #56 "Fix the port forwarding for the frontend in vagrant box"

[2016-06-19 12:14] akjones commented on #15
Docker yes (because dependencies are a pain, and deployment become trivial and fast). Kubernetes maybe. If AWS, RDS yes (because don't manage the DB if you don't have to).

If AWS, cloudformation (or terraform) to spin up the infra, then kubectl to lay down the apps.

Kubernetes seems like a good fit since it was built to run containers, has lots of different levels of abstractions (pod, deploymen

[2016-06-19 12:16] akjones commented on #51
VictoryKit does petitions, emails about petitions all with a/b testing and tracking of everything. It was not super trivial to get up and running though.

Looks like it was designed to integrate with CRMs, so that could make it a good candidate for adoption.

[2016-06-19 12:17] phazel commented on #29
signup page (done)
admin header (done)
favicon - Having issues with browser caching, and the fact that the file I've generated doesn't seem to be suitable. The skins mechanism is working though.

[2016-06-22 05:40] phazel opened #57 "Generate proper .ico file for Rabble Rouser favicon"
This would go into frontend/skins/default/logo. There's currently a somewhat broken file in there that needs to be replaced.

[2016-06-22 05:43] phazel opened #58 "Figure out some solution to browser caching for favicons"
It's not a big deal now, but if we want to be able to show people the system with their own skins, then it'll look weird if they've still got the old favicon sitting there.
The 'serve-favicon' package we're using seems to have some controls called max-age and cache-control, but the docs are pretty unforthcoming with the details.

[2016-06-25 11:28] #49 closed, assigned to yearofthedan

[2016-06-27 11:28] akjones opened #59 "engagement tracking"

[2016-06-27 11:28] akjones opened #60 "bulk editing"
includes tagging members

[2016-06-27 11:29] akjones opened #61 "search/filtering/tagging of members in admin app"

[2016-06-27 11:32] akjones commented on #42
Some api or gui level test we can run against a staging or production environment, that runs quickly and tests that all pieces of the environment are up and running. Gives us assurance that the app, and all its dependencies are running.

[2016-07-10 07:40] #29 closed, assigned to phazel

[2016-07-10 07:40] #54 closed, assigned to tomsulston

[2016-07-10 07:40] #16 closed, assigned to nobody

[2016-07-10 07:40] #21 closed, assigned to elimydlarz

[2016-07-10 07:40] #56 closed, assigned to phazel

[2016-07-20 23:10] camjackson opened #62 "Hide the branch dropdown box on the signup form when there is only one branch"
_As a_ potential member,
_I want_ the branch dropdown box to be hidden when there is only one option,
_So that_ the form is easier to fill and less confusing.

**Acceptance criteria:**
1. Given there is only one branch in the database
   1. When I load the signup form
      1. The branch dropdown box should not be there
   2. When I submit the signup form
      1. I should be added as a member of

[2016-07-20 23:14] camjackson commented on #62
Suggested implementation:
- Leave the dropdown box in the DOM, but just hide it with something like `display: none` if there's only one option.
- Make sure that option is selected by default when the page loads

Then the whole rest of the codebase shouldn't need to be touched, as the value will still be submitted with the form and stored as normal.

[2016-07-21 02:32] intersim commented on #25
@camjackson I can help on this if you still need it!

[2016-07-21 02:39] camjackson commented on #25
Sure thing @intersim! Let us know if you have any questions or need help getting started!

[2016-07-21 07:59] camjackson commented on #30
I've spun out a separate issue for removing (hiding) the branch dropdown box: #62.

[2016-07-21 12:04] camjackson commented on #62
This would be an ideal card for someone who wants a simple frontend thing to work on.

If anyone is keen, but needs help, I'd be happy to do a kickoff, or pair on this. Just let me know :)

[2016-07-21 12:09] camjackson commented on #17
This was migrated across in error. It was a PR, not an issue.

[2016-07-21 12:09] #17 closed, assigned to nobody

[2016-07-21 12:11] camjackson opened #63 "Upgrade node & npm"
Probably to node v6, and whatever version of npm comes with it.

[2016-07-21 12:31] camjackson commented on #30
One more question about this: What do we want to do about the contact phone number?

At the moment it's a compulsory field, which doesn't seem right Hack for Privacy's purposes. I'm not sure if it even makes sense to have it there for HFP at all?

Trying to figure out whether I should leave it as is, or make it optional, or take it out altogether, or just hide it on the frontend but leave everythi

[2016-07-21 22:26] camjackson commented on #30
Also I was chatting with Dan last night and we were considering ripping out the 'additional info' field as well.

[2016-07-22 00:22] akjones commented on #30
I'd make phone number optional. Hack for Privacy won't ask for it, but it'll be useful if folks provide it. Other orgs will want it for sure.

[2016-07-22 04:12] akjones opened #64 "as a branch admin i want to be able to export my branch data so i can import it into another system (to send email to segments of my members)"

[2016-07-22 04:16] akjones commented on #15
For mvp, we'll keep going with ansible. RDS database. Nginx serving static content, terminating https, and proxying to the backend.

[2016-07-22 05:19] #27 closed, assigned to nobody

[2016-07-22 05:24] phazel commented on #6
MVP is CCing the branch admin for the confirmation email the new member receives.

[2016-07-22 05:40] tomsulston commented on #7
MVP for Ticket #6 is (B)CCing the branch admin for the confirmation email the new member receives.

[2016-07-22 05:44] tomsulston opened #65 "Encrypt all front-end traffic"

[2016-07-22 05:44] tomsulston opened #66 "Provision and attach an RDS database"

[2016-07-22 05:45] tomsulston opened #67 "Provision an AWS server"
Person to talk to: Andrew Jones

[2016-07-22 05:45] tomsulston opened #68 "Install into an AWS server"

[2016-07-22 05:46] phazel commented on #67
.

[2016-07-22 05:49] tomsulston commented on #15
Broken provisioning AWS server, RDS instance, SSL certs, and deploying into separate tasks. Any more?

[2016-07-22 05:50] tomsulston commented on #65
This is probably getting some certs from letsencrypt and installing them.

[2016-07-22 05:52] tomsulston commented on #67
This is probably a CloudFormation template.

[2016-07-22 05:52] tomsulston commented on #68
This is probably refactoring The Lab's ansible scripts

[2016-07-22 05:55] tomsulston commented on #66
CloudFormation?

[2016-07-26 01:28] intersim commented on #25
@camjackson I'm having some issues getting rabblerouser-core set up on my machine... just running `npm install` hangs when it gets to installing Jade, but then when I run each of the install scripts separately and then run the build, it says it can't find webpack, even though it's in the frontend node modules...? anything I'm missing?

[code]

[2016-07-27 02:17] pameck commented on #25
Hi @intersim !
I just re-install everything from scratch to try to reproduce the error, but it didn't happen to me, I install everything with a single `npm install`, it took me 25mins, but it installed all the packages.

When I run: `npm --prefix frontend run build` from /vagrant it builds the app.

If you list the node_modules folder in frontend, what do you get? This is what I get:

[code]

[2016-07-27 07:05] camjackson commented on #25
Hey @intersim! Firstly, thanks for getting involved with the project! Hopefully we can fix your error so you can focus on the codes :)

This error: `sh: 1: webpack: not found` looks like a shell error (rather than a node/npm one), telling you that the webpack executable is not on your PATH. Which means that the command `webpack --progress --colors` will fail.

The location of that executable shoul

[2016-07-27 15:19] intersim commented on #25
@pameck @camjackson thanks for the responses, I'll give it another shot!

[2016-07-28 01:05] phazel commented on #6
Or like... BCC? (Rob)

[2016-08-04 07:52] #15 closed, assigned to akjones

[2016-08-04 07:52] #30 closed, assigned to nobody

[2016-08-04 07:54] camjackson commented on #55
We probably don't need this for the initial release? Especially if we pick it up as part of the Docker/Kubernetes/EventStore work.

[2016-08-04 11:39] #40 closed, assigned to nobody

[2016-08-04 11:39] #45 closed, assigned to nobody

[2016-08-04 11:48] camjackson commented on #5
This should be done now. Waiting to see it on Heroku so I can confirm it works other than on my machine.

[2016-08-04 22:44] camjackson commented on #25
Did you have any luck @intersim? Is there anything we can do to help?

[2016-08-04 22:46] camjackson commented on #64
Just making sure I understand the scope of this one - Is it basically to export all of the groups and members for a specific branch? Does a JSON file download fit the bill?

[2016-08-04 23:05] akjones commented on #64
Most mail providers (e.g. Mailchimp) expect import as excel or csv. I suggest we start with csv.

[2016-08-04 23:06] akjones commented on #64
And include everything we have for members in the branch, so segmenting can be done in that other system.

[2016-08-04 23:08] akjones commented on #64
We can add respond to requests for other export formats later on via the `accepts` header.

[2016-08-09 05:13] kksy opened #69 "There is an error when I run: npm run seed"
When I run:
`npm run seed`,
I get this error:
Error: SequelizeDatabaseError: relation "Branches" does not exist

[2016-08-09 06:09] pameck commented on #69
This error didn't happen the second time we ran the task, only after `npm install`

[2016-08-09 07:12] kksy commented on #69
added `npm --prefix backend run migrate` to build script in `package.json` to create the tables in the database before seeding data

[2016-08-09 07:12] #69 closed, assigned to nobody

[2016-08-10 04:26] pameck commented on #19
Done with this!

[2016-08-10 04:26] #19 closed, assigned to pameck

[2016-08-10 06:39] pameck commented on #32
I have an idea for this but part of  it seems dodgy, please provide feedback!

First, to have a "customise/custom/whatever" folder where the user could change not only the skins but the organisation name, and any UI customisation that we might come up with in the future. For the organisation name, have a property `organisation_name` in `custom/main.json`

We have the same `organisation_name` in `s

[2016-08-16 00:47] pameck commented on #7
Done!! We will add the branch admin to bcc as part of issue #6

[2016-08-16 00:48] #7 closed, assigned to pameck, kksy

[2016-08-18 04:10] pameck commented on #57
We have the .ico file thanks to Meg Blake.

[2016-08-18 04:10] #57 closed, assigned to nobody

[2016-08-22 11:25] camjackson commented on #65
This could also be an AWS certificate. They do free ones as well, which you can manage through IAM.

[2016-08-23 11:30] #5 closed, assigned to nobody

[2016-08-24 08:33] #64 closed, assigned to nobody

[2016-08-29 22:49] camjackson commented on #32
@pameck I'm actually going to explore building a basic UI to do this, and storing key/val pairs in the database. I think it might actually be pretty easy to implement, and it saves us from doing tricky stuff with files and build processes etc. Better UX too of course!

If it turns out to be a huge job though, then I won't spend too much time on it, and I'll come back to a more config-file-based so

[2016-09-05 14:11] pameck commented on #6
Done, the admins get a copy of the email sent to the member.

[2016-09-05 14:11] #6 closed, assigned to pameck, yearofthedan

[2016-09-06 08:04] camjackson commented on #32
OK, how's this for a simple temporary solution:
- There's an entry in the `config` object in the frontend package.json
- That's available to be used anywhere in the frontend app as an environment variable: `process.env.ORG_NAME`

This is a really easy change to make. The only tricky bit is persisting the config entry when upgrading/deploying the app. I haven't figured that bit out yet, and my brai

[2016-09-08 08:17] camjackson commented on #32
After chatting with @yearofthedan, we came up with a slightly better solution.

We'll still use an environment variable to provide the org name, but instead of needing to commit it into the repo somewhere (and then needing to keep that change when upgrading the app), it can just be provided as a regular environment variable at build time.

So instead of `npm run build`, you'd do something like `OR

[2016-09-11 12:54] yearofthedan commented on #10
Is this an issue? I find it very useful the keep the tests with the src in React.

[2016-09-11 23:05] camjackson commented on #10
We've actually been going in the opposite direction with the frontend code lately. I.e., moving the tests downwards, to be closer to their corresponding modules.

[2016-09-11 23:05] #10 closed, assigned to nobody

[2016-09-12 08:15] camjackson commented on #32
Notes for testing:
- I've added [instructions](https://github.com/rabblerouser/rabblerouser-core#customising-the-app-for-your-organisation) to the README to show how to customise the organisation name and skin
- You can test this out in staging by changing the environment variables from the [heroku dashbord](https://dashboard.heroku.com/apps/rabblerouser-core/settings), and rebuilding**

*\* It ne

[2016-09-14 05:20] pameck opened #70 "Create a skin for H4P"

[2016-09-14 05:22] pameck opened #71 "Setup email client for H4P"
- Decide which email they want to use
- Create the transporter for it (if not supported yet)
- Update README with instructions for that transported if it is a new one
- Connect to the real instance in prod.

[2016-09-14 10:21] pameck commented on #55
removed final references to the lab.

[2016-09-14 10:21] #55 closed, assigned to pameck, yearofthedan

[2016-09-15 09:34] #32 closed, assigned to nobody

[2016-09-15 09:34] #70 closed, assigned to nobody

[2016-09-16 18:28] intersim commented on #25
@camjackson hey all! Sorry, I ended up getting a new job and forgot all about this... I'll give it another shot over the weekend and report back.

[2016-09-19 10:39] camjackson commented on #25
No problem at all! Let us know how you go. Just a quick note that @yearofthedan is currently tweaking some of our dev setup stuff. If you already set up the vagrant box previously, you may need to blow it away with `vagrant destroy` and start again.

[2016-09-21 21:36] intersim commented on #25
@camjackson ah ok, good to know!

[2016-09-23 02:46] camjackson commented on #28
Something that just came up: Need to check the licensing on the PPAU and lab code. If it's GPL'd, then we may have little choice.

[2016-09-23 02:51] akjones commented on #28
PPAU project m was gpl v3

On Friday, 23 September 2016, Cam Jackson notifications@github.com wrote:

[2016-09-23 03:06] camjackson opened #72 "As a group member, I want to email all the other members in my group, so that we can engage with each other"

[2016-09-23 03:09] camjackson opened #73 "As an admin, I want my instance to be themed, so that it matches my brand"
This can be done by developers for now, rather than making a nice way for end users to customise through the UI, replace stylesheets etc.

[2016-09-23 03:15] camjackson opened #74 "As a Tom, I want a branded instance of Rabble Rouser, so that I can showcase to organisations with their own logo on it"
Speak to @tomsulston to find out who the branding should be for.
If we get time, we can do more brandings.
- [x] Skin for the organisation
- [x] Deployment for the organisation
- [x] Dummy data for the organisation

[2016-09-23 03:18] camjackson opened #75 "EPIC: Make the UI nicer"
- Signup form
- Admin view

[2016-09-23 03:23] camjackson opened #76 "Rename 'pastoral notes' to 'notes'"
The 'pastoral notes' field is left over from the lab. The ability to add notes to members may still be useful for admins, however, so we should leave it in and just rename it.

It would be good to rename it in user-facing bits, and also the rest of the code (e.g. DB columns).

[2016-09-23 03:24] camjackson opened #77 "As an admin, I want to collect my members' addresses, so that I can target campaigns based on location"
Location-based campaigning is just one example of how it can useful to know where your members live.

We should already have a lot of the code in place for storing and handling member addresses, as it was something we needed for a previous version of the project. However, we took it out as part of #30.

For the organisations we're targeting next, address will be a very obvious omission if we don't

[2016-09-23 03:27] camjackson opened #78 "Confirm the project name"

[2016-09-23 03:27] camjackson opened #79 "Improve rabblerouser.team"

[2016-09-23 03:29] camjackson opened #80 "As a Meg, I want a Rabble Rouser"

[2016-09-23 03:33] camjackson opened #81 "Rabble Rouser business cards"

[2016-09-23 03:36] camjackson commented on #28
Looks like it will be AGPLv3.

[2016-09-23 04:10] akjones commented on #72
![uploads/b835fe58-1233-426a-9619-21bec07d1793/68747470733a2f2f73332d75732d776573742d322e616d617a6f6e6177732e636f6d2f70726f642e6875626f6172642e636f6d2f75706c6f61647325324664633066613730612d663266662d343564322d383363662d323762353434363339653764253246696d6167652e6a706567.jpeg](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb835fe58-1233-426a-9619-21bec07d1793%2F68747470733a2f2f73332d7

[2016-09-23 08:39] camjackson commented on #63
LGTM

[2016-09-23 08:39] #63 closed, assigned to yearofthedan

[2016-09-23 08:44] camjackson commented on #75
Might be a good idea to spin out stories from this epic. But I'm not sure what they should be.

[2016-09-26 02:29] megtw commented on #75
@yearofthedan want to make a time to pair on this sometime soon?

[2016-09-27 13:00] camjackson commented on #62
Looks like @yearofthedan is doing this as part of https://github.com/rabblerouser/rabblerouser-core/commit/6282f5f8ff7df5abc00cc142c284683fc9e1b5b3?

[2016-10-02 05:29] yearofthedan opened #82 "As an organisation I want to extend the generic form with our own styles so that the user experience is consistent with our other pages"

[2016-10-02 18:04] rammy4real commented on #76
hello camjackson. good day. hope you are doing great sir. i would love to contribute to this. just to let you know my skills
     html:
     css
     javascript: basic/beginner
     java: basic/beginner
 really do love to be part of your team. promise to give my best and all .
thank you sir.
rammy4real@gmail.com

[2016-10-02 22:24] camjackson commented on #76
Hey there @rammy4real, and welcome. We'd love to have you contribute to the project. I believe no one has started work on this issue yet, so feel free to have a go at it if you like.

Let us know if you need any help getting started :)

[2016-10-03 10:33] camjackson commented on #77
Looks like @asnr and @letitia-may are going to take a look at this. I'll add more info to the card so that it's a bit clearer what needs to be done.

[2016-10-03 22:17] asnr commented on #77
Yep, @letitia-may and/or I will try and get started today. Thanks for fleshing out the issue!

[2016-10-04 04:24] Letitia-May commented on #77
Hi, it looks like in the code that both residential and postal address have been used in the past. Should we be including both for this story? If we include only one address, should we write to the residential or postal address section in the database? Thanks!

[2016-10-04 07:20] camjackson commented on #77
That's a good question. Thoughts, @akjones?

[2016-10-04 09:31] akjones commented on #77
Organisations with any kind of electoral function (eg political parties, unions) require residential address, but postal address gives folks more privacy. We only need one set of address fields for the showcase in Barcelona, so let's write it to postal address, and we can add the other one in later.

[2016-10-04 23:00] asnr opened #83 "`npm run seed` fails for new installs"
I followed the first time install steps in the README:

[code]

The tests passed without any problems. I then tried to run the seed script:

[code]

This failed with the error `Error: SequelizeDatabaseError: relation "Branches" does not exist`.

I then ran several other scripts I found in the repo in this order:

[code]

after which I was able to run `npm run seed` without any problems. My guess i

[2016-10-05 00:19] pameck commented on #83
Yeah :( .. But if you do npm start first, it will work. Worth having that in the readme until we fix this properly.

Npm start creates the db schema, which is the problem when running the seeding first, the schema is not there.

[2016-10-05 05:10] Letitia-May commented on #77
Hi, we have two questions. Address will be customisable and it's currently set up so that address is not enabled as the default and therefore does not show. Is this ok or should it be enabled as the default? Also, if address is enabled, should those fields be mandatory? Thanks :)

[2016-10-05 18:57] intersim commented on #25
Still working on getting my dev environment working... destroyed the old box, now `vagrant up` is resulting in

`VBoxManage: error: The configured driver wasn't found. Either the necessary driver modules wasn't loaded, the name was misspelled, or it was a misconfiguration. (VERR_PDM_DRIVER_NOT_FOUND)
VBoxManage: error: Details: code NS_ERROR_FAILURE (0x80004005), component ConsoleWrap, interface I

[2016-10-05 22:01] camjackson commented on #25
Hmm, do you have VirtualBox installed?

Also, what's your host OS? Windows/OSX/Linux/etc?

[2016-10-05 22:05] camjackson commented on #77
Not enabled by default sounds good.

If we go by the theory of only asking for stuff that you absolutely need (and @akjones point that some orgs have a legal requirement to collect address), then perhaps make it mandatory if it's on. Although, will that make the validation logic more complex? Because you need to make it mandatory/optional based on whether it's enabled? As opposed to just always be

[2016-10-05 22:24] intersim commented on #25
@camjackson yup, I have VirtualBox, and I'm on OSX. Also, I went in and disabled audio for this box on VirtualBox (to try to address the earlier error), and now I'm getting this out when I run `vagrant up`:

[code]

[2016-10-08 00:08] camjackson commented on #73
I believe the scope of this is just to create a way to apply a theme. To prove that it works, I may just build the skin for a particular organisation, which would overlap slightly with #74

[2016-10-10 18:42] intersim commented on #25
I'm going to keep trying to get my dev environment working correctly, but if anyone also wants to tackle this ticket, please feel free!

[2016-10-10 22:18] camjackson commented on #25
Not exactly sure what's causing that error message, but it looks like you can't SSH into the VM. It's not a great solution, but we've seen that be caused by firewalls in the past. Maybe try disabling yours?

[2016-10-12 22:21] camjackson commented on #77
We have a 'review' column in huboard, but I think the PR process kind of covered that. So I'll just move this to done.

[2016-10-12 22:21] #77 closed, assigned to nobody

[2016-10-13 07:26] camjackson commented on #75
This card is a bit weird. Are we able to break it down into stories we can play? Either way I'd like to move it out of 'doing'.

The signup UI is a bit nicer now, from #73. It would be good to make the admin UI match the new style. I might do that as part of #74?

[2016-10-18 22:10] #62 closed, assigned to yearofthedan

[2016-10-18 22:10] #73 closed, assigned to nobody

[2016-10-18 22:12] camjackson commented on #82
Is this the same as #73?

[2016-10-18 22:24] akjones commented on #82
Yes.

On Wednesday, 19 October 2016, Cam Jackson notifications@github.com wrote:

[2016-10-23 03:56] yearofthedan opened #86 "Notes (previously Pastoral Notes) doesn't save when edited"
Noticed when testing a change for #76.

The field value never gets sent with the update request.

[2016-10-23 03:57] yearofthedan opened #87 "The request for branches on the registration form returns too much information"
The api returns a list of branches with which to populate the select field for the signup form. This payload includes additional details such as contact information which is currently only available in the admin view and not required for signup.

We should update the endpoint (or create a new one if it is shared) to return only the information required by the form.

[2016-10-23 11:51] camjackson commented on #86
It's actually the whole edit member form that's broken. No changes are saved right now, including group membership. I'm pushing a fix now. Given that it's a critical bug, and a simple fix, I'm going to push straight to master.

[2016-10-23 12:10] #76 closed, assigned to yearofthedan

[2016-10-23 12:10] #86 closed, assigned to nobody

[2016-10-23 12:11] #82 closed, assigned to yearofthedan, megtw

[2016-10-23 12:17] camjackson commented on #74
There's some very minimal data in there. It would be good if there was more though. I'll close this, as it's done enough, but I'll also look at creating a script to generate dummy data for demo / development purposes.

[2016-10-23 12:17] #74 closed, assigned to nobody

[2016-11-10 10:11] camjackson opened #89 "As an organisation, I want to automatically create the infrastructure needed for my Rabble Rouser"
I.e. terraform.

[2016-11-10 23:08] akjones commented on #89
What's the scope of this card? It seems to cross over with #66, #67 and #68.

[2016-11-10 23:08] akjones commented on #89
We should also talk about what the infra should look like.

[2016-11-14 11:51] camjackson opened #90 "RFC: Event persistence"
Soon we'll start to switch things over from a relational data store to an [event sourcing](http://martinfowler.com/eaaDev/EventSourcing.html) model. One of the biggest questions to answer is what exactly we're going to use for our event database.

Some criteria, off the top of my head:
 - Suitable for storing a schema-less event stream
 - Performant both in terms of throughput and capacity
 - Idea

[2016-11-16 10:31] camjackson opened #91 "RFC: Infrastructure management"
This issue is not so much to discuss what actual infrastructure might look like. It's more to talk about how infrastructure could be managed for all the various orgs using Rabble Rouser. E.g:
 - How does a new org get their infra set up?
 - How do we roll out changes to infra to our users?
 - How do orgs scale their infra?

Criteria:
 - All infrastructure should be automated and defined as code
 -

[2016-11-16 12:05] camjackson commented on #91
A proposal:

## Core tool: terraform

Terraform seems the obvious choice as the core tool. It's nicer to work with than cloud formation, and we could use it to provision in places other than AWS. I'm not aware of what other tools might be realistic competitors to it, other than rolling our own set of tools using the AWS CLI or SDKs, which seems like a recipe for pain.

There are two tricky parts t

[2016-11-16 12:07] phazel commented on #91
Cam go to sleep

On 16 Nov 2016 11:05 p.m., "Cam Jackson" notifications@github.com wrote:

[2016-11-16 12:54] camjackson commented on #91
Ok.

[2016-12-17 06:53] camjackson commented on #66
Dupe of #89

[2016-12-17 06:53] #66 closed, assigned to nobody

[2016-12-17 06:54] camjackson commented on #67
Dupe of #89

[2016-12-17 06:54] #67 closed, assigned to nobody

[2016-12-17 06:54] camjackson commented on #68
Dupe of #89

[2016-12-17 06:54] #68 closed, assigned to nobody

[2016-12-17 06:57] camjackson commented on #89
This probably needs a review for two reasons:
1. Someone should do a code review of the whole [rabblerouser-infra](https://github.com/rabblerouser/rabblerouser-infra) repo to make sure it doesn't suck.
2. Someone else should run it to make sure it works, and that the instructions are right.

They could both be done by the same person.

[2016-12-17 06:59] camjackson commented on #28
Have we confirmed [AGPLv3](https://www.gnu.org/licenses/agpl-3.0.en.html) yet, @akjones @tomsulston? It would be good to add the license files and close this issue.

[2016-12-17 06:59] camjackson commented on #78
Is this still an open question?

[2016-12-17 06:59] camjackson commented on #81
Are we still doing this or should I close it?

[2016-12-17 07:00] camjackson commented on #80
Does a @megtw still need a Rabble Rouser?

[2016-12-18 10:17] #80 closed, assigned to nobody

[2016-12-21 21:53] camjackson commented on #87
More info:

- [Here](https://github.com/rabblerouser/rabblerouser-core/blob/master/frontend/src/signup/components/DetailsForm.jsx#L39) is the select box that shows the list of branches for new signups to pick from. Note that it only shows if there's more than one branch present, and it looks like it only need the branch IDs and names.
- [Here](https://github.com/rabblerouser/rabblerouser-core/blob

[2016-12-22 02:25] yongpeishi commented on #83
`npm start` does migration and seed. README is now updated to remove unnecessary seeding step. We can close this issue?

[2016-12-22 03:10] camjackson commented on #83
Yep, thanks!

[2016-12-22 03:10] #83 closed, assigned to nobody

[2016-12-22 08:27] camjackson commented on #87
Fixed in #92.

[2016-12-22 08:27] #87 closed, assigned to nobody

[2016-12-26 09:41] #78 closed, assigned to nobody

[2016-12-26 09:41] #81 closed, assigned to megtw

[2016-12-26 09:42] #71 closed, assigned to nobody

[2016-12-27 02:28] yearofthedan commented on #75
Let's spin off some stories from here to work on.
The following smallish discrete stories come to mind:

1. removing any style bootstrapping libraries and replacing with our own styles (I'd also remove sass unless there's a compelling reason to keep it).
2. not quite a ux thing, and dependent upon the first but review and remove unrequired id/name/class attributes in the app. Most of these were us

[2016-12-27 05:17] yearofthedan commented on #13
Still some gaps with test coverage, particularly on integration, but these can be filled as the relevant areas are touched ongoing

[2016-12-27 05:45] #13 closed, assigned to yearofthedan

[2017-01-02 21:36] camjackson commented on #13
Awesome work!

[2017-01-02 21:49] camjackson commented on #75
Great idea. In assigning myself to this, I was really just picking up the first one.

I think 1 pretty much entails a rewrite of the styles, so it's probably easiest to do 2 at the same time.

We should already get `eslint-plugin-jsx-a11y` from `eslint-config-airbnb`, but there's definitely more we can do.

RE custom styles - I already added basic support for this in d049fd2, because it gave me an

[2017-01-04 13:05] camjackson opened #93 "RFC: Styling"
This RFC is to look at our options for styling the UI, and to pick a preferred approach. As always, we don't need to set this in stone forever, but we do need to at least pick something for the immediate future.

I'm going to try to keep this mostly informational, and put my opinions in a separate comment. I'm sure that my biasses will creep in though, so please feel free to suggest any correction

[2017-01-05 08:19] yearofthedan commented on #93
Thanks for the thorough write-up. There are so many approaches to this and I think coming to a considered decision early will be awesome.

Here's a couple of things that come to mind for me:
1. An app level CSS file to do basic stuff including browser default resets is good to me.
2. I agree that you’d struggle trying to touch only CSS / HTML these days without knowing js, particularly in single p

[2017-01-06 23:25] camjackson opened #94 "Modals aren't closing properly"
There are a couple of modals that don't seem to close when they should.

Looks like the issue is to do with action creators not being bound correctly in the components. There's an action being imported [here](https://github.com/rabblerouser/rabblerouser-core/blob/master/frontend/src/admin/branchManagement/adminsView/AdminsView.js#L12), from a reducers file. It's probably meant to be imported from

[2017-01-06 23:25] camjackson commented on #94
@yearofthedan This is the issue I mentioned to you yesterday.

[2017-01-07 03:18] pameck commented on #93
The sign up app will be plain old css on a single stylesheet as it is easier for Rabble Rouser users to override it  with their own styles.

As for the admin app, we still don't know but we're leaning towards the in-JS css given that it seems easier to maintain for us devs :)

[2017-01-07 03:32] tomsulston opened #95 "As an Organiser, I would like to send targeted emails to parts of the membership, so I can provide only relevant communications"
A branch admin can:

* Search the membership DB for a given tag, group, location, action, or free-text.
* Send an email to those selected members
* Tag those members as recipients of that email

[2017-01-07 03:37] tomsulston opened #96 "As an Organiser, I would like to know which members didn't read an email, so that I can re-send it with a more relevant title"
When a branch admin sends an email, Rabble rouser should store which recipients have read it.

[2017-01-07 03:38] tomsulston opened #97 "As an Organiser, I would like to know which members have or have not done a specific action within a time period"
For example, I would like to be able to search for all members who have donated in the last month.
Then I would like to tag them or email them.

[2017-01-07 03:39] tomsulston opened #98 "As an Organiser, I would like to know the read rates for emails that I send, so I can learn which subjects are most engaging."
Rabble Rouser should display a list of the emails that I have sent, along with the % of users that read the email.

[2017-01-07 03:41] tomsulston opened #99 "As an Organiser, I would like to know the clickthrough rates for emails that I send, so I can learn which emails are most likely to generate activity"
Rabble Rouser should know when a user clicks on a link in an email. It should store this data and display it as part of a list of emails sent.

It should also record which links an individual user has clicked on.

[2017-01-07 03:43] tomsulston opened #100 "As an Organiser, I would like to know the unsubscribe rate for emails, so I can learn which emails are more likely to attract unsubscribes."
Rabble Rouser should count and report the number of unsubscribe actions taken when an email is read.

[2017-01-07 03:44] tomsulston opened #101 "As a member, I want to unsubscribe from emails, so that my inbox is clean."
All group emails from Rabble Rouser should come with a unique unsubscribe link. When a user clicks the link, they should be unsubscribed from all future group emails.

[2017-01-07 03:45] tomsulston opened #102 "As a member, I want to unsubscribe from specific campaign emails, because I am only interested in certain campaigns"
Emails send to a tag should have a link in the footer that allows the recipient to opt-out of receiving future emails to that tag.

[2017-01-07 03:47] tomsulston opened #103 "As an Organiser, I want to merge member accounts, as occasionally people will sign up with two email addresses"
Members should be able to have >1 email address attached. When 2 members are merged, their histories should also be merged.

[2017-01-07 03:48] tomsulston opened #104 "As an Organiser, I would like to know why members unsubscribe, so that I can campaign better."
Rabble Rouser should ask people why they have unsubscribed, so that a group admin can better target their campaigns.

[2017-01-07 03:50] tomsulston opened #105 "As an Organiser, I would like to tag members, so that I can track what campaigns they are interested in."
A group admin should be able to attach free-text tags to members.
A group admin should be able to search free-text tags, to see if there is an existing tag.
A group admin should be able to remove tags from members.

[2017-01-07 03:52] tomsulston opened #106 "As an Organiser, I would like to know when a member does a campaign activity, so that I can focus my campaigning on activities that members engage with"
When a user performs an action, that should tag their record in Rabble Rouser.
Actions may include: donating, filling a petition, joining a specific campaign.

Is this as simple as having a URL redirector?

[2017-01-07 03:53] tomsulston opened #107 "As an Organiser, I would like to manually enter activities on a member's record, because sometimes members do activities not on the internet"
For instance, making a donation by cheque.

The system should allow a group admin to manually enter an action for a member, and have that action stored in the member's record.

[2017-01-07 03:58] tomsulston opened #108 "As an Organiser, I would like to get a total amount of money donated in a given month, so that I know that my orgs income is satisfactory."
A group admin should be able to search for all donations made with a time period and get both individual donations and a sum total of them.

[2017-01-07 04:01] tomsulston opened #109 "As an Organiser, I would like to know if a member gives up on making a donation part-way through the process, so that I can contact that member and help them through the last steps."
As a group admin, I want to search for members that started making a donation but didn't complete it.

[2017-01-07 04:04] tomsulston opened #110 "As an Organiser, I want to accept donations through Stripe, so that I can fund my campaigns"
As a campaign admin, I want to create a webpage where a member can make a donation to the campaign via Stripe.

[2017-01-07 04:05] tomsulston opened #111 "As an Organiser, I want to accept subscriptions through Paypal, so that I can fund my campaigns"
As a member, I want to sign up to a monthly donation to the campaign.
As a group admin, I want ot make a webpage where a member can do this.
As a group admin, I want to receive the donation and tag the member with the donation and subscription

[2017-01-07 06:01] pameck opened #112 "Create new members upon registration using events."
This is the first step into our event-sourcing adventure!

We need to refactor the current backend flow for creating members upon registration.

When a member signs up, an event should be generated, then another service will listen to that event and create a new member record on the existing DB.

![whatsapp image 2017-01-07 at 4 59 18 pm](https://cloud.githubusercontent.com/assets/3664374/21739822

[2017-01-07 06:25] yearofthedan commented on #93
Started using styled-components. Will keep working with it for now unless there are concerns.

[2017-01-07 10:32] camjackson commented on #94
Fixed in 5f7e12ceef08d8dd120b4c89df54c8a8518a89bc

[2017-01-07 10:32] #94 closed, assigned to nobody

[2017-01-07 10:39] camjackson opened #113 "Overhaul the existing stylesheets with a better styling approach"
This is kind of the implementation of whatever is decided in #93. Right now that means CSS-in-JS using [`styled-components`](https://styled-components.com/), but that's not locked in yet. As we continue to experiment with it, we can decide if we like how it's looking.

Assuming styled-components (or really any CSS-in-JS solution) is the way forward, acceptance criteria are:
- [ ] No more styleshee

[2017-01-07 10:40] camjackson commented on #113
@yearofthedan I've assigned you to this because I know you and Chloe started on it already, but that's not to say you have to keep doing it. Feel free to un-assign if you're not on it any more.

Given that there's potentially a lot of stuff here, it might be good to parallelise some of it? But I'm not sure if that's really possible. It might be more effort than it's worth.

[2017-01-07 10:53] camjackson opened #114 "Split the admin views based on network vs. branch related tasks"
As an admin, I want the UI to only show me stuff based on whether I'm administering a single branch, or a whole network, so that I'm not overwhelmed with options.

The regular/branch admin view right now is OK, as it's always focussed on the particular branch I have access to. The network admin view has you select a particular branch, and shows you things you can do with that branch, but it also s

[2017-01-07 11:06] camjackson opened #115 "Replace modals with something else"
Modals are problematic for a few reasons:

- They prevent the user from multi-tasking (e.g. if I have a modal open to edit a person's details, I can't then go and copy a phone number from a different person without closing the modal and losing all my context).
- They're often bad for accessibility. They don't necessarily have to be, but it's easy to do badly
- Because of the intricacies of [stacki

[2017-01-07 11:10] camjackson opened #116 "As an admin, I want success/error messages to be close to the action I just took"
So that it's obvious that the message is linked to the thing I was doing.

Not sure how many places we have success/error messages at the moment. Some of them may still warrant a 'global' message at the top of the page, others probably don't.

Needs analysis/design before picking up.

[2017-01-07 11:11] camjackson commented on #116
@yearofthedan Not sure if you have more info to add to this one?

[2017-01-07 11:15] camjackson opened #117 "As an admin I want to see 'loading' status feedback when something takes a while, so that I know it's working"
E.g. if I click a button that creates a thing on the server, the regular button should be replaced with something that indicates the request is pending (like a loading spinner) until the action is finished.

Otherwise people don't know if their action is in progress, or if they need to click it again, and the whole thing can feel sluggish.

Not sure where all the different places are that this nee

[2017-01-07 11:15] camjackson commented on #117
@yearofthedan Do you have more context on the various places where this is needed?

[2017-01-07 11:29] camjackson opened #118 "As a person with a disability, I want to use Rabble Rouser just as well as anyone else"
Aka accessibility.

Some links to help:

 - Talk: [React loves accessibility (and it's not difficult to add)](https://www.youtube.com/watch?v=L6DgX0EbUAU)
 - Tutorial: http://accessibility.parseapp.com/
 - Tutorial: https://teachaccess.github.io/tutorial/
 - [Webaim](http://webaim.org/articles/), especially [keyboard navigation](http://webaim.org/techniques/keyboard/)

Stuff we can/should do:

- [

[2017-01-07 11:34] camjackson commented on #118
@Letitia-May you current gig has especially high accessibility requirements, right? Anything extra we could/should be doing here?

[2017-01-07 11:35] camjackson commented on #75
Replaced with:

#113 - remove stylesheets, bourbon, classnames
#114 - split the admin and network admin views
#115 - remove the modals
#116 - Put success/error messages near their actions
#117 - Loading indicators
#118 - A11y

Haven't done anything for the hover/highlight one, as I thought we already had that? Feel free to open an issue for it if there are places it's missing.

[2017-01-07 11:36] #75 closed, assigned to nobody

[2017-01-07 11:36] camjackson commented on #75
Tagging @yearofthedan just to make sure he sees the question in my previous comment RE hover/highlight stuff.

[2017-01-07 11:54] camjackson commented on #9
It does, just not in the VM unfortunately. This has been documented in the frontend README.

[2017-01-07 11:54] #9 closed, assigned to nobody

[2017-01-07 23:50] yearofthedan commented on #75
I think hover/highlight is okay actually. There are some inconsistencies, but they can be covered off as part of style migration.

[2017-01-07 23:58] yearofthedan commented on #117
Not exactly, and open to suggestions on how we want to implement this. I think indicators on or near  buttons that make async calls is a good start. The other place would be for sections which load their data (eg. a members table).

[2017-01-08 00:02] yearofthedan commented on #116
Currently most messaging is managed globally. I think generally we should keep our success / error messaging close to the component.
In one possible approach I can imagine a tie in with [#117](https://github.com/rabblerouser/rabblerouser-core/issues/117) where an indicator transforms to show success rather than a message per se.

[2017-01-08 03:58] yearofthedan opened #119 "Admins can access the Network Admin app"
An admin can authenticate into the app and then manually navigate to the end point network admin (dashboard/admin) endpoint.

While this isn’t a breach (the endpoints are secured and no data is returned), it exposes parts of the app which shouldn’t be available.

This occurs because the backend tests that a user is authenticated, but not their rights / user type, when returning the admin and netwo

[2017-01-08 04:32] yearofthedan commented on #119
Actually forgot there's only one app returned, but the switch is in the front end routing. For now I'm looking to return the user type as part of the request header to let the front end switch on it.

[2017-01-08 07:40] yearofthedan commented on #119
There were a few changes for this fix. Here's the basic flow:
1. In the initial request the server returns a user cookie with the user type which is stored in the front end redux store.
2. There's a react component <RestrictedTo type=""> which has a type property and wraps any component to be restricted.
3. <RestrictedTo> compares its type with the user type in the redux store and displays the con

[2017-01-08 10:47] camjackson commented on #65
Our ansible scripts already do this.

[2017-01-08 10:47] #65 closed, assigned to nobody

[2017-01-08 22:16] camjackson commented on #31
We could solve this problem by coming up with another low-level techy solution to injecting config into the frontend code at run/deploy-time, or we could play this card to allow admins to configure things through the UI.

We're going to want UI-driven configuration anyway, so I'm inclined to prioritise this (or at least a low-fi version of it.

[2017-01-09 07:02] Letitia-May commented on #118
@camjackson a lot of what we've looked at on the current project is covered in the list here.

Mac laptops come with an inbuilt screenreader called VoiceOver, which is good for testing. Webaim has useful tips for [keyboard navigation](http://webaim.org/techniques/keyboard/) and other areas of accessibility (http://webaim.org/articles/). Also, where there is text on a coloured background, the contr

[2017-01-09 10:17] pameck commented on #112
WIP:
## Things to consider

1. **Sync vs Async actions:**
When a user is signing up, we need to consider that they are waiting for a response (synchronously). Events are async so we need to figure out how to synchronously respond to the user, some thoughts:

    - Do the unique-id validation (the light-weight stuff) synchronously, and then leave the saving,   emailing, etc. (heavy-weight stuff) to

[2017-01-09 10:31] yearofthedan commented on #112
Just on point 1. Is the unique id concern an issue yet?  Members won't be logging in to the app, and there is a story which (we touched very quickly on Saturday re this) wants to resolve the same member who registers with different emails. So the primary key may not be driven from the front end for members.
Can we rely on the front-end validation, and tell the user it went well if the FE validatio

[2017-01-09 10:33] yearofthedan commented on #112
Here's the story: https://github.com/rabblerouser/rabblerouser-core/issues/103

[2017-01-09 10:43] pameck commented on #112
@yearofthedan what I meant with point 1 was more generic, as in stating the fact that there might be things we need to do synchronously. If, in this case, everything can be handled by the FE that'd great, but if it doesn't we may have to consider splitting asycn and sync actions.

I haven't looked into the flow in that much detail yet, but I'll keep in mind story #103 to see if it is easier to pla

[2017-01-09 11:34] camjackson commented on #118
Great, thanks. I've updated the issue :)

[2017-01-10 02:39] camjackson commented on #112
1. I think sync vs. async stuff is going to be a common theme in trying to do everything with event sourcing. For something like this, I think you have to treat writing to the stream the same as writing to a traditional database. So once the backend writes the registration event to the stream (which would happen after any validation), it can return a success response to the frontend. All the stuff

[2017-01-10 07:20] pameck commented on #112
@yearofthedan and I had some sort of story kick-off and these are the tasks we will be working on:

## Infra
- [x] Setup a Kinesis Stream
* Includes investigation to whether _AWS Firehose_ is a proper alternative.
* Add its creation to our infra repo

## Sign up Flow
- [x] Have the sign-up app write to the stream
* Isolate this as much as possible (we might pull out the sign-up app in the future).

[2017-01-10 11:05] camjackson commented on #112
Sounds like a pretty solid plan! One question: are we going to do anything with the `memberCreated` and `memberCreationFailed` events yet?

[2017-01-10 11:10] pameck commented on #112
@camjackson The idea is for the confirmation email to be sent upon `memberCreated` instead of `memberRegistered`.

1. The sign-up app produces `memberRegistered`
1. The db "companion thingy" consumes `memberRegistered`, saves the new member to the DB and produces `memberCreated`
1. The email service consumes `memberCreated` and sends the confirmation email.

As for `memberCreationFailed`, not sure

[2017-01-10 11:15] camjackson commented on #112
Hmmm. I'm unsure about the need for the `memberCreated` event. To me, the registration event kind of already *is* the event that says that the member has been created. I get that technically right now that's not true, because we still have to have the record be persisted to the relational database, but my understanding is that in event-sourcing-land, the fact that the registration event got put on

[2017-01-10 11:44] camjackson commented on #36
Going to close this issue seeing as we're currently trying out kinesis. This was more of a meta-issue anyway.

[2017-01-10 11:44] #36 closed, assigned to nobody

[2017-01-10 11:46] #53 closed, assigned to nobody

[2017-01-10 11:46] camjackson commented on #53
I think this is long-since resolved.

[2017-01-10 11:49] camjackson commented on #26
I can't find any of these any more. They must have been fixed.

[2017-01-10 11:49] #26 closed, assigned to nobody

[2017-01-10 11:57] yearofthedan commented on #112
I may be a bit unclear, but something has to read the event and persist it
right, even if it's some sort of event store? So it's only once it's in the
store that the member is created and hence an event.

I'm just thinking of whether there could be issues if the persistence is
down or if for some reason the event can't be stored (invalid?).

I think some of this will become clearer as we build it.

[2017-01-10 21:16] camjackson commented on #112
Yeah, there has to be some mechanism of persisting the event from the stream. In the future we should be able to pretty easily pipe the stream into e.g. an S3 bucket (this may or may not require something like a lambda function in the middle to join the two up). But yeah right now it's all a bit more unreliable, because we have to keep the SQL db in sync, which is a pain.

It's a good point about

[2017-01-19 04:58] pameck commented on #112
After going through the AWS docs for the events consumer, @yearofthedan and I found this

We were planning to have an `npm` package that we could import in our single-threaded NodeJS Rabble Rouser core to listen to events. But the NodeJS became a limitation.  AWS's solution for its NodeJS client was to have a runtime dependency on a Java component that listens for events and calls the JS client.

[2017-01-20 06:13] yearofthedan opened #121 "Remove email as primary key for members"
Spun off from #103
This task is to remove email as a primary key in the database, as members may register multiple times with different emails. An approach to providing a view of a member across emails - merging accounts - is part of #103.

Given it will no longer be the primary key, it may be worth also removing any block regarding uniqueness of email in the system. This would mean that members c

[2017-01-20 10:21] yearofthedan commented on #121
This is actually a non-issue. Emails can be registered multiple times.

[2017-01-20 10:22] #121 closed, assigned to nobody

[2017-01-30 03:53] camjackson commented on #112
Continuing work on this on Dan's branch - 112-create-members-with-events

[2017-01-30 05:26] camjackson commented on #113
Fixed in #122

[2017-01-30 05:26] #113 closed, assigned to nobody

[2017-01-30 09:12] yearofthedan commented on #25
Fixed in #122

[2017-01-30 09:13] #25 closed, assigned to nobody

[2017-01-30 09:51] #89 closed, assigned to nobody

[2017-01-30 09:51] #119 closed, assigned to yearofthedan

[2017-02-01 23:03] tomsulston commented on #28
Cam Jackson wrote:

Yes. AGPLv3 is go!

T.

[2017-02-01 23:05] akjones commented on #28
\o/

[2017-02-04 03:04] phazel opened #124 "Write some onboarding documentation with links for key concepts"
When people join, we'd like for them to have some familiarity with the concepts we're using, so that they can participate in conversations. This might help with making the project feel more inclusive for people as they come onboard. Something like "We'd like for you to read about these things before you get involved."

Topics like:
- Microservices
- Event sourcing
- Serverless architecture
- Some

[2017-02-04 04:26] yearofthedan opened #125 "Dockerise the PSQL db"

[2017-02-04 04:26] yearofthedan opened #126 "Dockerise kinesis local"

[2017-02-04 04:27] yearofthedan opened #127 "Dockerise the event forwarder"

[2017-02-04 07:35] #124 closed, assigned to nobody

[2017-02-04 10:23] camjackson commented on #124
Moved to https://github.com/rabblerouser/rabblerouser-docs/issues/1

[2017-02-04 11:20] camjackson opened #129 "Dockerise the development environment for rr-core"
This is the first step towards making our development environment super easy for new people to get started with, and efficient for everyone to use.

 - [x] Dockerise rabblerouser-core
 - [x] Dockerise postgres (or find an existing one)
 - [x] Dockerise kinesalite (or find an existing one)
 - [x] Dockerise rr-event-forwarder's localDev wrapper
 - [x] docker-composerise the four of them in concert

[2017-02-04 11:22] camjackson commented on #129
This supercedes #125, #126, and #127.

[2017-02-04 11:22] #125 closed, assigned to nobody

[2017-02-04 11:22] camjackson commented on #125
Closing in favour of #129

[2017-02-04 11:22] camjackson commented on #127
Closing in favour of #129

[2017-02-04 11:22] #127 closed, assigned to nobody

[2017-02-04 11:23] camjackson commented on #126
Closing in favour of #129

[2017-02-04 11:23] #126 closed, assigned to nobody

[2017-02-04 11:29] camjackson commented on #129
I was thinking about how the compose file for this would look. For the postgres container (and potentially the kinesis container), we'll just pull an existing image from the docker hub, rather than build one as part of this docker-compose setup.

But what about the event forwarder? When I run rr-core in this magical docker setup, does it just pull the latest event forwarder image from docker-hub?

[2017-02-04 12:05] camjackson opened #130 "Split the registration app from the admin app"
This issue is to split out a separate registration app from rabblerouser-core, including both the frontend and backend. The registration frontend code is already mostly separated from the admin frontend code, but they both live in rr-core. And the backend stuff (endpoints, event-handling etc) is all mixed in together. Things to do to separate stuff:

 - [ ] Create a new repo for the registration a

[2017-02-04 12:07] camjackson commented on #130
Suggestion - can we use create-react-app for the new project? That would save us from having to copy all of the crazy javascript tooling (webpack, babel, karma, etc) over from rr-core, and then maintaining those duplicates. This project seems like its requirements will be simple enough that CRA will give us everything we need? It's also more approachable to people who aren't intimately familiar wi

[2017-02-04 12:11] #93 closed, assigned to nobody

[2017-02-04 12:14] #91 closed, assigned to nobody

[2017-02-04 12:15] #90 closed, assigned to nobody

[2017-02-04 12:15] camjackson commented on #90
We're using kinesis for now, with lambdas to forward events to services over HTTP.

[2017-02-04 12:24] camjackson opened #131 "Don't use a batch size of 1 for the event-forwarder lambdas"
Batch size is currently 1, so that batches can succeed or fail atomically. This prevents double- or zero-handling of events in the case where half a batch succeeded and half failed.

The current solution works, but is a bit of an anti-pattern. More information here: https://github.com/rabblerouser/rabblerouser-event-forwarder#error-handling

Needs further research to determine how a lambda can ind

[2017-02-04 12:30] camjackson opened #132 "Deal with "poisoned" events"
Right now whenever a service fails to process an event from the stream, that failure goes all the way back to the kinesis subscription, which causes AWS to send you the same event again. It will keep retrying (with exponential backoff) until the event is processed successfully.

This is great for consistency and resilience, but it presents a problem - what if somehow an event ends up in the stream

[2017-02-04 12:39] camjackson commented on #132
Suggestion: there are three different cases:

1. The service responds to the lambda with a 2xx status code. This means the event has been processed successfully and the lambda should report a success to AWS.
2. The service responds to the lambda with a 5xx status code. This means that it's the services own fault for not processing that event (maybe it ran out of memory), and the lambda should repo

[2017-02-04 22:29] camjackson opened #133 "Event persistence"
Some event streams, like kafka, can be configured to keep events forever (until you run out of disk space). Kinesis can only keep events in the stream for up to 7 days, and by default only 24 hours. We need a way to store events forever, and a way for services to page through the full historical event stream. This is currently the biggest missing piece of our event streaming solution.

Acceptance

[2017-02-04 22:31] camjackson commented on #133
Possible solution - just pipe everything to an S3 bucket. When initialising a the stream client to listen for events, it checks the bucket first, and keeps track of the kinesis shard iterator as it does so. Once it exhausts the bucket, it can then switch to the stream, skipping over any events that are older than the last one it read from the bucket.

[2017-02-04 22:46] camjackson commented on #133
One example of how to write a kinesis stream to an S3 bucket: https://aws.amazon.com/blogs/big-data/persist-streaming-data-to-amazon-s3-using-amazon-kinesis-firehose-and-aws-lambda/

This one is going via kinesis firehose though. We may not want to involve yet another AWS service to make it work.

[2017-02-04 23:11] #28 closed, assigned to nobody

[2017-02-06 21:13] akjones opened #134 "Move from SnapCI to a new CI provider as Snap is going away"
SnapCI is going away (https://blog.snap-ci.com/blog/2017/02/06/2017-02-06-snap-announcement/) and we need to keep automated builds going.

We need to choose a new tool and move the build for this repo to it.

Needs to be done by end of May at the latest.

- [x] Pick a new provider
- [x] core
- [x] mailer
- [x] stream-client
- [x] event-forwarder
- [x] event-archiver

[2017-02-06 21:37] camjackson commented on #133
I've begun some work on this. There's an event-archiver repo [here](https://github.com/rabblerouser/event-archiver) which saves all events on a kinesis stream to an S3 bucket. Inside the bucket there will be a object created for each UTC hour. When the lambda receives events from kinesis, it either writes them to the existing object if there is one, or it creates a new object if it's the first eve

[2017-02-06 21:52] akjones commented on #133
Should clients really know about the bucket? If we have to worry about double handling from both kinesis and s3, then we might run into trouble. Single source of truth and all that.

In the future we're going to have to configure the system to replay all events (for instance, recovering from a full outage), so would we be better to make apps treat events as replayable (in such a way that we don't

[2017-02-06 21:58] akjones commented on #133
It might be a case of being able to selectively replay a stream via a client so we can re/build apps as being a good thing to do as well.

Though I'm mostly uneasy about having the clients (which seem to be thought of as part of apps) knowing about the event stream/storage mechanism.

[2017-02-07 00:28] camjackson commented on #133
To clarify stream-client is an npm library that abstracts the whole idea of the stream away from the actual application. Currently you just do `myStreamClient.consumer.on('member-registration', memberService.createMember` or something like that. And that will set it up so that incoming events from the stream, of that event type, get passed to that function.

What I was proposing is that when you b

[2017-02-07 00:29] camjackson commented on #133
I'm totally open to having that knowledge of event streaming/storage etc being pulled out of the stream-client library. Do you have thoughts on where else it could be done?

[2017-02-07 00:32] camjackson commented on #133
Also on slack, @phazel asked:

The checking of the bucket would only be when an application is starting up and needs to initialise. So it shouldn't happen constantly. App startup time is definitely something we'd need to keep an eye on as the number of historical events grows.

[2017-02-10 11:46] camjackson commented on #129
Helpful article: https://dev.to/derickbailey/10-myths-about-docker-that-stop-developers-cold

[2017-02-11 03:57] camjackson commented on #133
I have a version of this that seems mostly functional. It needs more manual verification, which I can't really do until #123 is merged. Once that happens and I have a chance to test it some more, it'll need a technical review to make sure the approach isn't totally bonkers. Also there's a bit more work to make it function locally. It looks like https://github.com/lphoward/fake-s3 may work really w

[2017-02-12 12:31] #112 closed, assigned to pameck, yearofthedan

[2017-02-13 12:03] camjackson opened #136 "Ultimate bikeshed - project naming convention"
Right now most of our projects are in the form `rabblerouser/rabblerouser-something`. However, at least one is just `rabblerouser/event-archiver`, without the extra RR in the name. This came up on slack, with comments from @akjones, @phazel, and @yearofthedan, but there was no consensus. It would be good to figure this out before we start migrating away from Snap, just in case repo renaming causes

[2017-02-13 12:06] camjackson commented on #136
Just want to point out that the repo names don't necessarily need to exactly match published names. E.g. on github we might have `rabblerouser/stream-client`, which we could publish to npm as `rabblerouser-stream-client` so that the context is clear. Although now I think about it, npm supports namespaced packages too, so we could equally publish as `@rabblerouser/stream-client`. Things that get pu

[2017-02-13 21:55] akjones commented on #136
I'm happy with relying on the github org name for repos, so `rabblerouser/stream-client` would be fine, as long as artifacts get stored in the public repos with `rabblerouser` as either a namespace, or repository name or as a prefix if the artifact repository doesn't have the concept of a namespace.

[2017-02-20 19:45] #129 closed, assigned to nobody

[2017-03-03 03:44] camjackson commented on #136
I think that's close enough to having a consensus. I'm going to make this change now, so that we get it out of the way *before* potentially lots of new people join in tomorrow, only to have things shift from underneath them.

[2017-03-03 04:38] camjackson opened #138 "As a super admin, I want to email everyone in my organisation, so I can mobilise them."
**Background:**

Organisers want to get people to do stuff. Emailing them is a common way to communicate with them.

**User research:**

We know that people send emails to their members. Some people use e.g. mailchimp, some people do it through CRMs, some people have custom tools, some use a combination of the above.

**Visual design:**

**Todo:** Add something to the UI to show people how to do t

[2017-03-03 23:53] camjackson commented on #134
Have experimented with Travis and Circle so far.

Travis currently up and running for core: https://travis-ci.org/rabblerouser/core

Circle is also generally very good, but there are some issues with docker support. A big update (Travis 2.0) is coming soon which will apparently give much better docker stuff, so may be worth visiting then.

No other repos have been converted yet.

[2017-03-03 23:55] megtw opened #139 "As an organiser, I want to administer my members on a mobile device so that I do not have to invest in a desktop computer or tablet to organise a campaign."
**Background:**

We believe that Rabble Rouser will be more useful to grass roots organisations if it can be easy to use on a mobile device.

**User research:**

Needs to be validated. Perhaps we can speak with small orgs and their members such as SisterWorks. Send a survey to find out what devices users would be likely to use when doing admin. User testing of revised design would be a good idea t

[2017-03-04 01:23] #136 closed, assigned to nobody

[2017-03-04 05:00] camjackson commented on #138
***------------- NOTE: THIS DIAGRAM IS OUT OF DATE AND INCORRECT! LEAVING IT HERE FOR HISTORICAL PURPOSES ONLY-------------***

![uploads/f3c12a87-f1dd-41a6-8d29-5d2b3f25a7d1/Rabble Rouser group mailing.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ff3c12a87-f1dd-41a6-8d29-5d2b3f25a7d1%2FRabble+Rouser+group+mailing.png)

***------------- NOTE: THIS DIAGRAM IS OUT OF DATE AND IN

[2017-03-04 08:34] camjackson opened #140 "Receive an email in SES and post it to the group-mailer service"
When an admin sends an email to `[groupid]@[rabblerouser-instance-url]`, the [group-mail-receiver](https://github.com/rabblerouser/group-mail-receiver) lambda should pick this up and send a POST request to the [`group-mailer`](https://github.com/rabblerouser/group-mailer) service. Refer #160 for the overall design and context.

- [ ] The lambda should be triggered by any email sent to `<any email

[2017-03-04 08:41] camjackson opened #141 "The Group Mailer puts a send-email event onto the stream"
See #160 for full context of the design.

The group mailer will have an HTTP `POST /mail` endpoint. When it receives a request to send email to the whole organisation, it puts an event onto the stream with a list of members.

- [x] A `POST /mail` endpoint
- [x] Reject (422?) an email sent to any address other than `everyone`, as that is the only supported recipient at the moment
- [x] Subscribe to

[2017-03-04 08:49] camjackson opened #142 "[Email a group]: Change the mailer service to receive generic send-email events and fulfil them."
The [mailer](https://github.com/rabblerouser/mailer) service already exists, but in its current form it responds to domain events like `member-registered` and knows that an email should be sent in response. Current thinking is that the mailer should just be a dumb service that fulfils requests from `send-email` command events, without knowing anything about why that email is being sent.

This task

[2017-03-04 08:51] camjackson commented on #138
Following on from that image, there are 3 sub-tasks for this that can probably be done in parallel, as long as people communicate :)

- #140: Receive the email and put the first event on
- #141: Receive the bulk request and build out the specific mailing list
- #142: Actually send the emails.

This isn't including anything to do with admins being able to see that the email was sent, which probably

[2017-03-04 08:53] camjackson commented on #138
Also a question - where should we authenticate the original email request? I.e. checking that the sender of the trigger email is an admin that we know about? I feel like it should be synchronous validation that happens *before* we hit the stream, rather than just blindly putting garbage onto the stream.

But that would mean that the email receiver thing would need to know the list of current admin

[2017-03-04 08:56] camjackson commented on #23
Closing this as things have changed quite a bit w.r.t to member management.

[2017-03-04 08:56] #23 closed, assigned to nobody

[2017-03-04 08:57] #41 closed, assigned to nobody

[2017-03-04 08:57] camjackson commented on #41
I think this is done?

[2017-03-06 00:38] #134 closed, assigned to nobody

[2017-03-08 03:04] camjackson commented on #138
Oh and another general technical point: **correlation IDs**. They are a thing that we should do.

[2017-03-08 22:18] camjackson opened #144 "Convert group persistence to event sourcing"
Currently some of our data is stored using events, and some of it is in a relational database. This task is to store groups using events.

[2017-03-08 22:18] camjackson opened #145 "Convert branch persistence to event sourcing"
Currently some of our data is stored using events, and some of it is in a relational database. This task is to store branches using events.

[2017-03-08 22:20] camjackson opened #146 "Convert admin persistence to event sourcing"
Currently some of our data is stored using events, and some of it is in a relational database. This task is to store admins using events (using the events from #149).

[2017-03-13 21:38] akjones opened #149 "Fire events for admin creation, editing and deletion"
So other apps can have access to the admin domain info.

[2017-03-13 21:45] #133 closed, assigned to nobody

[2017-03-13 21:49] akjones opened #150 "The Group Mailer service checks that the email intended to be sent to a group is being sent by a super admin"
v0 of the email-sending feature does not include any auth. This adds it.

This feature will require the group-mailer to start tracking admin created/updated/deleted events, so that it knows who the organisation's super admins are. It can then authenticate the attempted email by checking if the original email was sent from a super admin's registered email address.

GIVEN I am a super admin,
AND I a

[2017-03-14 01:35] akjones opened #152 "docker for dev on linux"
My user (uid 1000) gets mapped to the user created when node is installed in the container (uid 1000), so if I run as `rabblerouser` I can't `npm install` or anything useful because the files in the volume mount at `/app` are owned by my user on the host.

[2017-03-14 11:39] #144 closed, assigned to nobody

[2017-03-15 00:17] akjones opened #153 "[Email a group] As a super admin, I want to send encrypted email to members in a particular group, so the content of my email is hard for others to read"
The encrypted mailer should search for public keys for each of the emails in the mit keysever or keybase or wherever, and encrypt with that. Should it fall back to plaintext if the service can't find a public key?

No other mailing list that is part of a campaigning toolkit offers this and would be a major differentiator for Rabble Rouser.

[2017-03-15 00:26] akjones commented on #140
This is not the thing that authenticates the email request. To start with the group mailer will authenticate it, and we have the option of moving it out later.

[2017-03-15 10:14] #152 closed, assigned to akjones

[2017-03-23 10:45] #149 closed, assigned to nobody

[2017-03-23 10:45] camjackson commented on #149
I'm just going to do this as part of #146.

[2017-03-30 22:01] camjackson opened #155 "As an admin, I want to be able to dismiss success/error messages"
**Background:**

We have a bunch of success and error messages which currently display at the top of the app. At the moment they can't be dismissed in any way. They only go away once another message appears, or if you refresh the page.

**User research:**

- We should test this with people.

**Visual design:**

Design questions:
 - Should they be individually dismissable?
 - Should there be a butt

[2017-04-01 01:43] pameck commented on #145
This is a drawing of how creating/updating/deleting a branch works with events.
![branches-with-events](https://cloud.githubusercontent.com/assets/3664374/24574034/a5a2ddd4-16d8-11e7-9627-cf0522499d4b.png)

[2017-04-01 02:27] #145 closed, assigned to nobody

[2017-04-04 03:04] camjackson commented on #142
This AWS page shows how we can test various email scenarios (bouncebacks, spam complaints, etc): https://docs.aws.amazon.com/ses/latest/DeveloperGuide/mailbox-simulator.html

This SES mock implementation could be useful for running our mailer locally, without needing to connect to AWS (which also implies having an AWS account, manually setting up SES, etc): https://github.com/TeamPraxis/ses-mock

[2017-04-11 23:34] pameck opened #157 "Error message after saving branch [racing condition problem]"
### Error Description:
After a branch is created, the following message is displayed:

<img width="1280" alt="screen shot 2017-04-12 at 9 15 13 am" src="https://cloud.githubusercontent.com/assets/3664374/24934754/e690bbb4-1f60-11e7-8c10-3ac3b23d246a.png">

In the dev console, there is this:

<img width="957" alt="screen shot 2017-04-12 at 9 15 41 am" src="https://cloud.githubusercontent.com/assets

[2017-04-12 05:52] #146 closed, assigned to nobody

[2017-04-18 14:55] yearofthedan commented on #157
It's an interesting problem. A couple of options come to mind.
- The front end could use the information it has for the branch rather than making a request to the backend after saving. This would mean the FE should set the id in the initial create request for future use.
- We could wait a fixed time before requesting the branch, but that feels quite hacky.
- We could poll the backend for the data

[2017-04-18 22:21] camjackson commented on #157
Wait, so, why is the frontend even making those requests? I don't think it's an ID generation issue, because the backend generates the ID before putting the event on the stream, and it will return that ID to the frontend synchronously.

From @pameck's screenshot, it seems the frontend is trying to fetch the new branch's groups and members, which is probably unnecessary. I think it's safe to assume

[2017-04-18 22:37] yearofthedan commented on #157
I havent looked too deep, but I think the issue is that the app selects the newly created branch which triggers a new API call for the branch details. So that would mean either not selecting, or creating some new flow.

[2017-04-18 22:44] pameck commented on #157
I think that on top of the change in the UI, the API should return an empty array instead of a `404` when asking for a collection of things.

[2017-04-18 22:45] yearofthedan commented on #157
But also you're right; ignore what I said about IDs. I had a blip and forgot that the create request returns one.

[2017-04-18 22:46] yearofthedan commented on #157
Even if the branch can't be found?

[2017-04-18 22:49] pameck commented on #157
@yearofthedan right! It's the branch that's missing not the groups or members, back to the `404` 😬

[2017-04-30 04:26] camjackson commented on #138
Revised design for the RR group mailer stack:

![rr mailing v2](https://cloud.githubusercontent.com/assets/1930451/25561480/fcb1d26c-2db0-11e7-85b0-9e73dada6d96.png)

Will need to re-think a couple of the issues we currently have open for this epic.

[2017-04-30 11:29] camjackson commented on #138
Context for the previous picture:

@akjones and I were talking today about what's left for the mailer stack, and double checking if the previous design was right. In the previous design, there's a lambda publishing an event `"send-email-to-group"`, but that lambda has no way to validate the payload it receives (via SES) before doing so.

That would mean that any random person could spam emails to

[2017-05-01 10:31] akjones opened #158 "The Group Mailer aggregates groups, so it can handle more fine-grained email requests"
v0 of the email feature only supports emailing the entire organisation. This adds support for emailing a specific group.

The group mailer will need to track any event that effects group membership. This will include both member- and group-related events.

WHEN I send an email to <groupId>@my-rr.com,
THEN the email should be sent only to members of that group.

[2017-05-01 22:38] camjackson opened #159 "As a super admin, I want to know the special email address for each group, so that I can send to it"
**Background:**

Our first cut of the "send an email to a group" works by having a super admin send their email to a magical email address representing a specific group, and we then forward that email to all the relevant members.

There are other cards to implement all of the actual email handling, but at the moment there's no way for the super admin to know what the magical email address is. This

[2017-05-06 02:01] pameck commented on #158
# Story Kick-off

This card is part of the feature [Email a Group](https://github.com/rabblerouser/core/milestone/4).
- [x] Split the `group-mailer` repo, one for the group mailer, and one for the `group-mailer-receiver`
- [x] Create pipeline for the `group-mailer`
- [x] dockerise it
- [ ] Create pipeline for the `group-mailer-receiver`
- [ ]  Receive the `POST` request for the `send-email` event

[2017-05-06 12:03] akjones commented on #158
The original scope of this story didn't include sending the email - that was left up to #141, assembling the state of the world and sending the email were thought to be independent enough that the work could be parallelised. Also work related to the group-mail-receiver should be part of that story.

[2017-05-06 12:07] akjones commented on #158
The group-mailer should also provide some kind of consumer driven contract files for the group-mail-receiver to integrate into its pipeline so we can make the coupling between the apps explicit.

[2017-05-08 11:24] pameck commented on #158
@akjones the story does not include the email itself, it does put an event back on the stream to make the `mailer` service send the emails. Also I'm adding the contract test task!

[2017-05-22 03:14] #142 closed, assigned to nobody

[2017-06-14 08:46] phazel opened #160 "Email everyone in an organisation"
**As a super admin, I want to email everyone in my organisation, so I can mobilise them.**

WHEN I send an email to everyone@my-org.click,
THEN it gets sent to all members.

Out of scope:
 - Authorisation,
 - Obscuring the special email address
 - Groups

We're doing a simpler version which is just about sending to everyone in an organisation, and then extending it to groups later. For now we're i

[2017-06-28 14:25] camjackson commented on #160
Treating this as the meta-issue to track progress on this feature. I wanted to use a milestone, but milestone descriptions don't seem to support proper markdown so the formatting was all whacked.

[2017-06-28 14:51] camjackson opened #161 "Configure SES to upload received emails to S3"
See #160 for full context.

Ideally this would be fully automated via terraform. Some things in SES require manual clicks though, so it might not be possible.

[2017-06-28 15:04] camjackson opened #162 "Authenticate requests between the group-mail-receiver and the group-mailer"
This is not authenticating/authorising the person who sent the original email. This is to lock down access to the group-mailer's API so that it can only be triggered by the group-mailer-receiver lambda.

 - [ ] There should be a shared secret token between the group-mail-receiver and the group-mailer. It will probably be specified in the infra repo and supplied to the two of them via an environmen

[2017-06-28 15:19] camjackson commented on #158
This issue is being pushed back as part of a future email milestone. See #160 for what's being done now.

[2017-06-28 15:21] camjackson commented on #138
Closing this in favour of #160, which is the new meta/epic-level issue for our first email milestone.

[2017-06-28 15:21] #138 closed, assigned to megtw

[2017-06-28 15:25] camjackson opened #163 "The mailer retrieves email bodies from S3, rather than receiving them embedded inside events"
The [mailer](https://github.com/rabblerouser/mailer) can already receive `send-email` events and fulfil them via SES. However the initial implementation assumed that the body of the email would be embedded inside the event itself.

The event size limit for kinesis is too low for this to be useful, so instead, the event will just contain a reference to an S3 object where the email body can be downl

[2017-07-26 11:25] camjackson commented on #160
Slightly updated diagram (main difference is that the `group-mail-receiver` is triggered by S3, not SES:
![img_0145](https://user-images.githubusercontent.com/1930451/28618730-04516d90-7238-11e7-85a9-8bdb6ef1d2b0.JPG)

[2017-09-25 13:07] #141 closed, assigned to nobody

[2017-09-25 13:21] #163 closed, assigned to nobody

[2017-09-25 13:22] #161 closed, assigned to nobody

[2017-10-23 14:21] #140 closed, assigned to nobody

[2017-10-23 14:23] camjackson commented on #160
It works!

[2017-10-23 14:23] #160 closed, assigned to nobody

[2017-10-23 14:35] #150 closed, assigned to nobody

[2017-10-23 14:35] camjackson commented on #150
Already done as part of v0.

[2017-10-23 14:47] camjackson opened #165 "As a Super Admin, I want to see the success or failure of mail delivery"
(Issue created in core repo though it doesn't necessarily have to be there. In fact this feature probably belongs as a separate service)

1. The group-mailer currently puts out a `send-email` request event, with a list of recipients
2. The mailer attempts to send the email to every list recipient
3. The mailer publishes a single `email-sent` event containing all the recipients that succeeded
    -

[2017-10-31 00:56] tomsulston opened #166 "As a rabblerouser system administrator, I want the installation process to give me a collection of each component, tested to work together, so that I know that what I am installing is compatible with each other."
**Background:**

When deploying, we should be pinned to specific versions of each component. Not just 'latest'.

**Technical notes:**

Put the deployables into a versioned S3 bucket? Use a manifest that gets from a variety of sources?

[2018-01-30 00:24] tomsulston opened #168 "Upgrade jQuery to >=3.0.0"
**Background:**

jQuery < 3 has a security issue.

**Technical notes:**

Just a fix to the package.json and run the tests.

[2018-01-30 04:50] ineffyble commented on #166
Would we want to maintain multiple release channels? (e.g. [Google Chrome has "stable", "beta", "dev", and "canary"](https://www.chromium.org/getting-involved/dev-channel))

[2018-02-02 05:18] #131 closed, assigned to nobody

[2018-02-02 05:18] tomsulston commented on #131
Batch size of one feels OK for now. Maybe when scaling is an issue we should revisit this.

[2018-02-02 05:25] tomsulston opened #171 "rabblerouser-core should be renamed to rabblerouser-admin"
Places to update:
- [ ] This repo name
- [ ] All references to 'core' in this repo (docs, package.jsons, etc)
- [ ] Docker image for core, both in the build scripts and on docker hub
- [ ] Potentially other repos whose docs refer to this as core? Needs exploration
- [ ] Infra code that deploys core
- [ ] Other places?

[2018-02-02 05:55] #51 closed, assigned to nobody

[2018-02-02 05:55] tomsulston commented on #51
This is a hint: when building a new service, is it easier to start with VictoryKit?

[2018-02-02 05:56] tomsulston commented on #130
The 'serve-favicon' package we're using seems to have some controls called max-age and cache-control, but the docs are pretty unforthcoming with the details. If a RR instance has many sign-up pages, they can have their own favicons.

[2018-02-02 05:56] #58 closed, assigned to nobody

[2018-02-02 05:56] tomsulston commented on #58
Merging into the story for breaking out the registration page into its own app.

[2018-02-02 05:59] #52 closed, assigned to nobody

[2018-02-02 05:59] tomsulston commented on #52
For the admin apps, our existing styles is fine. Member-facing apps will need to be skinned.

[2018-02-02 05:59] #33 closed, assigned to nobody

[2018-02-02 05:59] tomsulston commented on #33
When we have a bajillion users...

[2018-02-02 06:00] #3 closed, assigned to nobody

[2018-02-02 06:00] tomsulston commented on #3
Will work around this manually until it becomes a bit deal.

[2018-02-02 06:01] #46 closed, assigned to nobody

[2018-02-02 06:02] tomsulston commented on #46
Wash dog first.

[2018-02-02 06:07] #12 closed, assigned to nobody

[2018-02-02 06:07] tomsulston commented on #12
Duplicate of #114

[2018-02-02 06:07] tomsulston commented on #114
Make it more obvious that the groups dropdown is for filtering participants

[2018-02-02 06:09] #34 closed, assigned to nobody

[2018-02-02 06:09] tomsulston commented on #34
This should be a whole new app

[2018-02-02 06:09] #35 closed, assigned to nobody

[2018-02-02 06:09] tomsulston commented on #35
Dupe

[2018-02-02 06:09] tomsulston commented on #59
Dupe

[2018-02-02 06:09] #59 closed, assigned to nobody

[2018-02-02 06:09] #60 closed, assigned to nobody

[2018-02-02 06:09] tomsulston commented on #60
Dupe

[2018-02-02 06:11] #61 closed, assigned to nobody

[2018-02-02 06:11] tomsulston commented on #61
Dupe of #106

[2018-02-02 06:16] #168 closed, assigned to nobody

[2018-02-04 23:37] ineffyble opened #172 "As an Organiser, I want to register new members without an email address"
### For new features:

**Background:**

As an organiser, I often receive incomplete details about new members - this may mean that I have the mobile phone number of a new member, but no email address. It might also mean that this is a low-tech member, who does not use email.

I want to be able to store these members in Rabble Rouser, and ideally add more contact details for them when I gather them

[2018-02-04 23:38] ineffyble commented on #79
The current site seems to need some SEO work, among other things.

[2018-02-07 10:59] camjackson commented on #172
That sounds like a reasonable use case. Actually right now there's no way for an admin to create a member through the admin console, only through the member signup page.

So maybe the existing code used for signing up members stays the same, but we should add an admin-specific way to create members, which can allow a bit more freedom? What do you think?

This is tangentially related to #130, as th

[2018-02-07 11:02] ineffyble commented on #172
That makes sense to me. It came up because I was thinking about making a Twilio integration, where supporters could SMS a number to sign up, as a good starter project.

However based on my glance of the code, I think there’s validation that requires an email from the backend, regardless of event source, so I wouldn’t be able to make my integration.

[2018-02-08 13:07] camjackson commented on #172
Ah interesting, Twilio integration would be cool! And actually, if we're talking about a new integration, then the existing validations might not be a problem.

I could be wrong but my understanding is this: You're right that when a request comes into the core backend to register or edit member, email is a compulsory field. And so it will refuse the request, meaning it doesn't put any event onto t

[2018-02-08 13:27] camjackson commented on #79
Yeah I think it probably needs a total do-over.

[2018-02-13 02:06] ineffyble commented on #79
It would be great if we could do something markdown based. I'd say GitHub Pages, but the fact that there's still no way to natively use GH Pages with a custom domain and HTTPS makes that less attractive.

Perhaps we could still do a Jekyll static site, deploy somewhere free and easy like Netlify?

[2018-02-13 02:32] camjackson commented on #79
+1 to all of that basically. Markdown editing would be great, and I recently used netlify for the first time and was super impressed with how easy it is.

[2018-02-13 05:51] ineffyble commented on #79
Started poking at Jekyll for static site generation (which is what GitHub Pages uses), found a basic theme, tweaked a bit, created a copy of the visible content on the WordPress site, and deployed to GitHub pages at https://rabblerouser.github.io as an initial test (trivial to build with Jekyll and deploy elsewhere such as Netlify).

Source at https://github.com/rabblerouser/rabblerouser.github.io

[2018-02-16 11:34] camjackson commented on #166
Release channels sounds like a good idea longer term. I think for this particular issue we have more basic stuff that we don't even do yet. E.g. versioning our artefacts at all, and being able to select a set of versions when deploying. Right now everything is bleeding edge.

[2018-02-17 07:47] ineffyble commented on #166
Using Docker image tags for "stable" and "beta" in addition to the default "latest" could be a good simple step.

We could potentially link those to git tags. Although I'm not sure if having git tags that regularly move forward (as opposed to for fixed points in time) is a best practice.

[2018-04-03 06:28] bfinney-thoughtworks opened #177 "Guard idiomatic Chai expressions from ESLint `no-unused-expressions`"
### For bugs:

**Expected behaviour:**

The ESLint tests should pass for all code, with no warnings.

**Actual behaviour:**

The test case code is flagged by ESLint with these warnings:

[code]

These are because the [idiomatic Chai usage](http://www.chaijs.com/api/bdd/) of `expect(foo).to-be-true`, etc., is an expression which appears unused.

[2018-04-03 06:35] bfinney-thoughtworks commented on #177
I have created merge request **https://github.com/rabblerouser/core/pull/178** to resolve this.

[2018-04-13 00:35] bfinney-thoughtworks commented on #2
Who originally requested this? I'd like to ask some questions to clarify what counts as “done” for this issue.

[2018-04-13 00:36] bfinney-thoughtworks commented on #4
What's a sequence to reliably reproduce this behaviour?

[2018-04-13 01:13] bfinney-thoughtworks commented on #8
This can be done by setting up a mailing list for each group. Each Rabble Rouser instance could run a [Mailman](http://www.list.org/) instance, to handle all the mailing list behaviour for all groups.

Does that meet the requirements?

[2018-04-16 00:48] bfinney-thoughtworks commented on #39
Specifically, the change that has that effect is a [change in `backend/src/security/loginHandler.js`](https://github.com/rabblerouser/core/commit/43cc71cc731f4ccc49fe55f88ca8f820caaca80b#diff-0b3697da2a5f8151e1d8baa5989f62d1).

This appears to imply that an XHR necessarily uses some method other than GET or POST.

The [documentation for XmlHttpRequest.send](https://developer.mozilla.org/en-US/docs

[2018-04-16 03:15] bfinney-thoughtworks opened #180 "Automated search for cryptography public key for a member"
To enable sending encrypted communications (e.g. issue #153), a good feature would be for the admin server to automatically search online databases of cryptography public keys, to find matches for a given member.

[2018-04-16 03:17] bfinney-thoughtworks commented on #180
Questions to answer:

* When a match is found, what to do with the result? A match might not be correct, so automatically associating with the member seems like a bad idea.

* When multiple matches are found, how to distinguish between them?

* When no matches are found, how to distinguish this from not-yet-searched?

In all cases:

* How to present the keys so they are associated with a member, s

[2018-04-16 03:19] bfinney-thoughtworks commented on #153
That is big enough and separate enough, that I've opened issue #180 to track that feature.

I think the answer to that should be no. It's a very bad security result to *believe* that a message was encrypted, if it's not; and a default fallback to plaintext makes a big risk that people won't notice the difference.

[2018-04-16 05:25] bfinney-thoughtworks opened #181 "Initial developer environment doesn't allow member registration"
**Expected behaviour:**

After setting up a development environment as per the instructions, I should be able to visit the front-end page and register as a new user.

* Create a fresh development environment according to the `README.md` in this repository.
* Visit the root URL of the development server, e.g. http://localhost:3000/
* Fill in the registration form and select “Register” button.
  The

[2018-04-16 05:26] bfinney-thoughtworks commented on #181
I suspect there is some additional set-up required – e.g. populating a database, or configuring the front-end so that it supplies the correct branchId – that is not yet documented correctly.

[2018-04-19 06:05] bfinney-thoughtworks commented on #181
My mistake. This is done by `yarn seed` which is documented; I had accidentally reset my environment but had not seeded the environment again.

[2018-04-19 06:05] #181 closed, assigned to nobody

[2018-05-27 14:32] camjackson commented on #99
This is kind of an epic, as there will be a few different bits of work to make this happen. Part of that is the redirector, which Jared has got off to a great start. We should probably create sub-issues for the other bits, on the relevant repos.

Anyway, moving this to in-progress seeing as we've already begun working towards it.

[2018-05-29 04:29] camjackson commented on #4
Fixed in #185

[2018-05-29 04:29] #4 closed, assigned to shohre